nodejs-bot/workflows-n8n/Cardapio Recomendado.json
{
  "name": "Cardapio Recomendado",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.localidade }}",
                    "rightValue": "curitiba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0e4f50da-75a1-4625-b55b-a70825a4af16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curitiba"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c759c73c-241d-44a6-bc60-a3abe6e77572",
                    "leftValue": "={{ $json.body.localidade }}",
                    "rightValue": "londrina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "londrina"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73d018bd-5cfb-4ca1-b6fe-c42751431e69",
                    "leftValue": "={{ $json.body.localidade }}",
                    "rightValue": "sao paulo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sao paulo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        32
      ],
      "id": "6db7de83-a721-4b35-9ac5-95226a1ae11f",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=temos a mensagem do cliente e o cardapio, precisamos retornar no formato json opcoes de acordo com o pedido do cliente, se ele pedir algo especifico retorne o especifico, se o que ele pedir nao existir, avise que nao existe, se ele pedir um valor, retorne apenas o valor, ou descricao. o cliente pode escrever algo errado, entao inteprete sempre a mensagem do cliente\n\nmensagem do cliente:  {{ $json.body.query }}\n\ncardapio: \n{\n  \"Grill\":[\n    {\n      \"Nome do prato\":\"PICANHA\",\n      \"Descrição do prato\":\"Eleita o melhor prato do mundo pelo Tasteatlas Awards 2023, com nota de 4,75 de 5, a picanha está de volta ao cardápio da melhor steakhouse do Brasil. Suculência e maciez incomparáveis. Aproveite!\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":104.9\n    },\n    {\n      \"Nome do prato\":\"ENTRECÔTE\",\n      \"Descrição do prato\":\"Também conhecido como Bife Ancho, o Entrecôte é considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incrível.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"O Bife de Chorizo é um corte nobre consagrado da Argentina, é uma carne macia e de sabor acentuado. Sua camada de gordura externa mantém a umidade da carne.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"O filé mignon é caracterizado como a parte bovina mais macia dentre todas as peças. O Filé tem sabor adocicado e menos acentuado. É suculento e possui pouca gordura. Para garantir uma combinação sensacional, sugerimos duas opções de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":84.0\n    },\n    {\n      \"Nome do prato\":\"FRANGO\",\n      \"Descrição do prato\":\"Uma escolha leve e saudável, nosso filé de peito de frango é selecionado com maestria. Desfrute da suculência e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":58.0\n    },\n    {\n      \"Nome do prato\":\"TILÁPIA\",\n      \"Descrição do prato\":\"Descubra o prazer do mar em nosso cardápio com o Filé de Tilápia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato é um convite irresistível. Acompanha molho de alcaparras.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":59.0\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"ESCOLHA UM GRILL E MAIS DOIS ACOMPANHAMENTOS OU A BATATA RECHEADA (ao escolher a batata recheada, ela contará como dois acompanhamentos)\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"ACOMPANHAMENTO EXTRA: R$ 14,50 | BATATA RECHEADA EXTRA: R$ 28,50\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Saladas\":[\n    {\n      \"Nome do prato\":\"CAPRESE\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de muçarela de búfala, tomatinhos cereja, tomates secos e croûtons. Coberto com nosso molho caseiro italiano.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"SALMÃO DEFUMADO\",\n      \"Descrição do prato\":\"Refinada seleção de folhas verdes acompanhada por lascas de salmão defumado e molho mostarda e mel.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":46.5\n    },\n    {\n      \"Nome do prato\":\"CAESAR\",\n      \"Descrição do prato\":\"Tradicional mix de folhas verdes acompanhado de croûtons e coberto com parmesão, além do nosso típico molho caesar artesanal.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"MANGA\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de manga, croûtons e coberto com queijo parmesão e com nosso molho rosé especialmente caseiro.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Cada proteína tem um valor extra diferente.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Valores dos extras: Camarão defumado a R$19,50; Cubos de mignon a R$16,50; Cubos de frango a R$13,50; e Ovos cozidos a R$ 6,50.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Feijoada\":[\n    {\n      \"Nome do prato\":\"FEIJOADA KHARINA\",\n      \"Descrição do prato\":\"Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o inseparável torresminho.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":59.5,\n      \"Valor 2\":106.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Nossa feijoada é servida somente aossábados e quartas das 11h30 às 15h30.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Caso prefira, escolha uma caipirinha de vodka por mais 15,90.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Churrasco KHARINA\":[\n    {\n      \"Nome do prato\":\"PICANHA\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":112,\n      \"Valor 2\":212.0\n    },\n    {\n      \"Nome do prato\":\"RIBEYE \\/ ENTRECÔTE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"T-BONE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido somente para uma pessoa\",\n      \"Valor 1\":\"-\",\n      \"Valor 2\":212.0\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Sobremesa inclusa em todas as opções do Churrasco KHARINA: Bananinha à milanesa com canela e açúcar, calda de chocolate e bola de sorvete\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Massas\":[\n    {\n      \"Nome do prato\":\"CAMARÃO SICILIANO\",\n      \"Descrição do prato\":\"Camarão selado, servido com penne ao molho cremoso de limão siciliano e vinho chardonnay.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":65.9\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI PRIMAVERA\",\n      \"Descrição do prato\":\"Massa spaghetti com muçarela de búfala, azeitonas pretas, manjericão fresco e molho ao sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI COM SALMÃO\",\n      \"Descrição do prato\":\"Massa spaghetti com molho branco, ervilha fresca, salmão defumado e rúcula.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Kids\":[\n    {\n      \"s\":\"01 - MASSA COM MIGNON KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"01 - MASSA COM CUBOS DE FRANGO KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"02 - SANDUBINHAS\",\n      \"Descrição do prato\":\"2 sanduichinhos com hambúrger 100% black angus e queijo, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":31.5\n    },\n    {\n      \"s\":\"03 - FILÉ DE FRANGO EMPANADO\",\n      \"Descrição do prato\":\"2 unidades, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":26.5\n    },\n    {\n      \"s\":\"04 - MASSA E MOLHO À SUA ESCOLHA\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":23.5\n    },\n    {\n      \"s\":\"05 - MIGNON KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"05 - CUBOS DE FRANGO KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"06 - PENNE À BOLONHESA\",\n      \"Descrição do prato\":\"Clássico molho italiano preparado com carne moída de primeira refogada ao molho sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"CARDÁPIO EXCLUSIVO PARA CRIANÇAS DE ATÉ 12 ANOS.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"s\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Sobremesas\":[\n    {\n      \"Nome do prato\":\"BROWNIE COM SORVETE\",\n      \"Descrição do prato\":\"Fatia de bolo de chocolate, cacau e noz-pecã, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.4\n    },\n    {\n      \"Nome do prato\":\"APPLE PIE\",\n      \"Descrição do prato\":\"Incrível torta quente de maçã. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"PETIT GATEAU\",\n      \"Descrição do prato\":\"Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.5\n    },\n    {\n      \"Nome do prato\":\"O PUDIM PERFEITO\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":19.5\n    },\n    {\n      \"Nome do prato\":\"MINI BRIGADEIRO\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":9.5\n    },\n    {\n      \"Nome do prato\":\"KHARINA BLACK COOKIE\",\n      \"Descrição do prato\":\"Taça envolvida com delicioso ganache, oreo e calda de chocolate. Um mix de sabores com sorvete de chocolate, sorvete de creme, chantilly e um biscoito oreo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":37.5\n    },\n    {\n      \"Nome do prato\":\"MILKSHAKE\",\n      \"Descrição do prato\":\"Creme, morango, chocolate, flocos ou banana.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"BANANA SPLIT\",\n      \"Descrição do prato\":\"3 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"SUNDAE\",\n      \"Descrição do prato\":\"2 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"COLEGIAL\",\n      \"Descrição do prato\":\"1 bola de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":19.5\n    },\n    {\n      \"Nome do prato\":\"TAÇA DE SORVETE\",\n      \"Descrição do prato\":\"1 bola de sorvete (creme, morango, chocolate, flocos ou banana).\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":14.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"As deliciosas sobremesas do KHARINA, são verdadeiras tentações para não resistir. Nossos sorvetes são produzidos com zero gordura trans. Uma receita secreta com mais de 50 anos.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Entradas\":[\n    {\n      \"Nome do prato\":\"POLENTA FRITA\",\n      \"Descrição do prato\":\"Deliciosa polenta frita com parmesão, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha: geleia de pimenta.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS MÉDIA\",\n      \"Descrição do prato\":\"Acompanha: maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha: molho especial de limão.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":34.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com um delicioso molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"CAMARÃO CRISPY\",\n      \"Descrição do prato\":\"Deliciosa porção crocante de camarões empanados com\\nfarinha Panko. Acompanha molho rosé levemente picante.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":62.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":86.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados, acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"4 UNIDADES\",\n      \"Valor\":39.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Deliciosa linguiça de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":64.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta de molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":67.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Happy Hour\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9,\n      \"Valor happy\":7.45\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5,\n      \"Valor happy\":6.25\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5,\n      \"Valor happy\":21.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida  com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":86.5,\n      \"Valor happy\":76.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Linguiça de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":64.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta com molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":67.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":39.5,\n      \"Valor happy\":34.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha delicioso molho especial de limão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":34.5,\n      \"Valor happy\":28.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":29.5,\n      \"Valor happy\":24.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":42.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":40.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":39.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":51.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":59.5,\n      \"Valor happy\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":47.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":61.5,\n      \"Valor happy\":52.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"Nosso happy hour é de segunda à sexta, das 16h às 20h exceto feriados.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    }\n  ],\n  \"Bebidas\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"SPATEN LONK NECK\",\n      \"Descrição do prato\":\"Autêntica cerveja puro malte alemã, de sabor encorpado e amargor equilibrado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":15.9\n    },\n    {\n      \"Nome do prato\":\"GIN TROPICAL\",\n      \"Descrição do prato\":\"Gin com xarope de manga picante, lichia e suco de limão, finalizado com água tônica, hortelã e uma rodela de limão. Refrescante e equilibrado entre o cítrico e o adocicado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"NEGRONI NAPOLEÃO\",\n      \"Descrição do prato\":\"O Negroni de Napoleão é uma receita perfeita que combina xarope MONIN de pêssego, suco de limão e hortelã, resultando em um drink suave, irresistível e digno do imperador.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"ÁGUA MINERAL COM OU SEM GÁS\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":7.5\n    },\n    {\n      \"Nome do prato\":\"SUCO JARRA\",\n      \"Descrição do prato\":\"Laranja ou limonada suíça.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"REFRIGERANTE 350ML\",\n      \"Descrição do prato\":\"Coca-Cola, Coca-Cola Zero , Fanta Guaraná, Fanta Guaraná Zero, Fanta Laranja, Sprite e Tônica.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":9.0\n    },\n    {\n      \"Nome do prato\":\"SODA ITALIANA\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":13.5\n    },\n    {\n      \"Nome do prato\":\"SUCO COPO\",\n      \"Descrição do prato\":\"Laranja, abacaxi, abacaxi e hortelã, morango, maracujá, limonada suíça e uva.\",\n      \"Obersvações do prato\":\"Adicional de leite: R$ 1,50\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CHÁ GELADO\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":11.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    }\n  ],\n  \"Burger Prime\":[\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":51.5\n    },\n    {\n      \"Nome do prato\":\"CHORIPAN KHARINA\",\n      \"Descrição do prato\":\"Pão crocante, linguiça de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":47.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"HAMBÚGUER VEGETARIANO\",\n      \"Descrição do prato\":\"Pão crocante, hambúrger produzido com a proteína da ervilha, soja e grão de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Burger Tradicional\":[\n    {\n      \"Nome do prato\":\"CHEESE BURGER\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":37.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE SALADA\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":41.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO\",\n      \"Descrição do prato\":\"Pão brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO CRISPY\",\n      \"Descrição do prato\":\"Pão brioche, delicioso filé de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de limão com ervas finas.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":44.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE MIGNON\",\n      \"Descrição do prato\":\"Pão brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":58.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Clássicos\":[\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":59.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":61.5\n    },\n    {\n      \"Nome do prato\":\"CLUB MIGNON\",\n      \"Descrição do prato\":\"Suculento strogonoff de mignon, acompanhado de arroz branco e a inseparável porção de batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":68.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Executivos\":[\n    {\n      \"Nome do prato\":\"ESPETINHO DE MIGNON\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":57.5\n    },\n    {\n      \"Nome do prato\":\"STEAK BLACK ANGUS KHARINA\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"STROGONOFF DE MIGNON\",\n      \"Descrição do prato\":\"Suculento strogonoff de mignon, acompanhado de arroz branco e a inseparável porção de batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":57.5\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"FRANGO À PARMEGIANA\",\n      \"Descrição do prato\":\"Tradicional receita de filé black angus empanado, coberto com queijo prato, parmesão e um especial molho de tomate e por fim, gratinado. Acompanha arroz.\",\n      \"Obersvações do prato\":\"Pode ser servido com purê de batatas, batatas fritas ou spaghetti alho e óleo\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"FILET À PARMEGIANA\",\n      \"Descrição do prato\":\"Tradicional receita de filé black angus empanado, coberto com queijo prato, parmesão e um especial molho de tomate e por fim, gratinado. Acompanha arroz.\",\n      \"Obersvações do prato\":\"Pode ser servido com purê de batatas, batatas fritas ou spaghetti alho e óleo\",\n      \"Valor\":57.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"NOSSOS DELICIOSOS EXECUTIVOS ESTÃO DISPONÍVEIS DE SEGUNDA A SEXTA DAS 11H30 ÀS 15H30 | EXCETO FERIADOS\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"TODOS OS EXECUTIVOS ACOMPANHAM ENTRADA DE MINI POLENTA FRITA OU MINI SALADA CAESAR\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ]\n} "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        -128
      ],
      "id": "227cb474-2f1a-4dd8-85fd-55836573654b",
      "name": "curitiba",
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fbaedaaa-4e3a-4611-8ec4-76e1611275e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -192
      ],
      "id": "ccaf5566-d657-4eaa-a90a-80604c8763c1",
      "name": "Webhook",
      "webhookId": "fbaedaaa-4e3a-4611-8ec4-76e1611275e4",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "temos a mensagem do cliente e o cardapio, precisamos retornar no formato json opcoes de acordo com o pedido do cliente\n\nmensagem do cliente: {{ $json.body.query }}\n\ncardapio: {\n  \"Grill\":[\n    {\n      \"Nome do prato\":\"PICANHA\",\n      \"Descrição do prato\":\"Eleita o melhor prato do mundo pelo Tasteatlas Awards 2023, com nota de 4,75 de 5, a picanha está de volta ao cardápio da melhor steakhouse do Brasil. Suculência e maciez incomparáveis. Aproveite!\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":104.9\n    },\n    {\n      \"Nome do prato\":\"ENTRECÔTE\",\n      \"Descrição do prato\":\"Também conhecido como Bife Ancho, o Entrecôte é considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incrível.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"O Bife de Chorizo é um corte nobre consagrado da Argentina, é uma carne macia e de sabor acentuado. Sua camada de gordura externa mantém a umidade da carne.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"O filé mignon é caracterizado como a parte bovina mais macia dentre todas as peças. O Filé tem sabor adocicado e menos acentuado. É suculento e possui pouca gordura. Para garantir uma combinação sensacional, sugerimos duas opções de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":84.0\n    },\n    {\n      \"Nome do prato\":\"FRANGO\",\n      \"Descrição do prato\":\"Uma escolha leve e saudável, nosso filé de peito de frango é selecionado com maestria. Desfrute da suculência e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":58.0\n    },\n    {\n      \"Nome do prato\":\"TILÁPIA\",\n      \"Descrição do prato\":\"Descubra o prazer do mar em nosso cardápio com o Filé de Tilápia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato é um convite irresistível. Acompanha molho de alcaparras.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":59.0\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"ESCOLHA UM GRILL E MAIS DOIS ACOMPANHAMENTOS OU A BATATA RECHEADA (ao escolher a batata recheada, ela contará como dois acompanhamentos)\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"ACOMPANHAMENTO EXTRA: R$ 14,50 | BATATA RECHEADA EXTRA: R$ 28,50\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Saladas\":[\n    {\n      \"Nome do prato\":\"CAPRESE\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de muçarela de búfala, tomatinhos cereja, tomates secos e croûtons. Coberto com nosso molho caseiro italiano.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"SALMÃO DEFUMADO\",\n      \"Descrição do prato\":\"Refinada seleção de folhas verdes acompanhada por lascas de salmão defumado e molho mostarda e mel.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":46.5\n    },\n    {\n      \"Nome do prato\":\"CAESAR\",\n      \"Descrição do prato\":\"Tradicional mix de folhas verdes acompanhado de croûtons e coberto com parmesão, além do nosso típico molho caesar artesanal.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"MANGA\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de manga, croûtons e coberto com queijo parmesão e com nosso molho rosé especialmente caseiro.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Cada proteína tem um valor extra diferente.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Valores dos extras: Camarão defumado a R$19,50; Cubos de mignon a R$16,50; Cubos de frango a R$13,50; e Ovos cozidos a R$ 6,50.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Feijoada\":[\n    {\n      \"Nome do prato\":\"FEIJOADA KHARINA\",\n      \"Descrição do prato\":\"Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o inseparável torresminho.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":59.5,\n      \"Valor 2\":106.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Nossa feijoada é servida somente aossábados e quartas das 11h30 às 15h30.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Caso prefira, escolha uma caipirinha de vodka por mais 15,90.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Churrasco KHARINA\":[\n    {\n      \"Nome do prato\":\"PICANHA\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":112,\n      \"Valor 2\":212.0\n    },\n    {\n      \"Nome do prato\":\"RIBEYE \\/ ENTRECÔTE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"T-BONE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido somente para uma pessoa\",\n      \"Valor 1\":\"-\",\n      \"Valor 2\":212.0\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Sobremesa inclusa em todas as opções do Churrasco KHARINA: Bananinha à milanesa com canela e açúcar, calda de chocolate e bola de sorvete\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Massas\":[\n    {\n      \"Nome do prato\":\"CAMARÃO SICILIANO\",\n      \"Descrição do prato\":\"Camarão selado, servido com penne ao molho cremoso de limão siciliano e vinho chardonnay.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":65.9\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI PRIMAVERA\",\n      \"Descrição do prato\":\"Massa spaghetti com muçarela de búfala, azeitonas pretas, manjericão fresco e molho ao sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI COM SALMÃO\",\n      \"Descrição do prato\":\"Massa spaghetti com molho branco, ervilha fresca, salmão defumado e rúcula.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Kids\":[\n    {\n      \"s\":\"01 - MASSA COM MIGNON KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"01 - MASSA COM CUBOS DE FRANGO KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"02 - SANDUBINHAS\",\n      \"Descrição do prato\":\"2 sanduichinhos com hambúrger 100% black angus e queijo, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":31.5\n    },\n    {\n      \"s\":\"03 - FILÉ DE FRANGO EMPANADO\",\n      \"Descrição do prato\":\"2 unidades, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":26.5\n    },\n    {\n      \"s\":\"04 - MASSA E MOLHO À SUA ESCOLHA\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":23.5\n    },\n    {\n      \"s\":\"05 - MIGNON KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"05 - CUBOS DE FRANGO KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"06 - PENNE À BOLONHESA\",\n      \"Descrição do prato\":\"Clássico molho italiano preparado com carne moída de primeira refogada ao molho sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"CARDÁPIO EXCLUSIVO PARA CRIANÇAS DE ATÉ 12 ANOS.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"s\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Sobremesas\":[\n    {\n      \"Nome do prato\":\"BROWNIE COM SORVETE\",\n      \"Descrição do prato\":\"Fatia de bolo de chocolate, cacau e noz-pecã, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.5\n    },\n    {\n      \"Nome do prato\":\"APPLE PIE\",\n      \"Descrição do prato\":\"Incrível torta quente de maçã. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"PETIT GATEAU\",\n      \"Descrição do prato\":\"Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.5\n    },\n    {\n      \"Nome do prato\":\"O PUDIM PERFEITO\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":19.5\n    },\n    {\n      \"Nome do prato\":\"MINI BRIGADEIRO\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":9.5\n    },\n    {\n      \"Nome do prato\":\"KHARINA BLACK COOKIE\",\n      \"Descrição do prato\":\"Taça envolvida com delicioso ganache, oreo e calda de chocolate. Um mix de sabores com sorvete de chocolate, sorvete de creme, chantilly e um biscoito oreo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":37.5\n    },\n    {\n      \"Nome do prato\":\"MILKSHAKE\",\n      \"Descrição do prato\":\"Creme, morango, chocolate, flocos ou banana.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"BANANA SPLIT\",\n      \"Descrição do prato\":\"3 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"SUNDAE\",\n      \"Descrição do prato\":\"2 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"COLEGIAL\",\n      \"Descrição do prato\":\"1 bola de sorvete (creme, morango, chocolate, flocos ou banana) + toppings.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":19.5\n    },\n    {\n      \"Nome do prato\":\"TAÇA DE SORVETE\",\n      \"Descrição do prato\":\"1 bola de sorvete (creme, morango, chocolate, flocos ou banana).\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":14.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"As deliciosas sobremesas do KHARINA, são verdadeiras tentações para não resistir. Nossos sorvetes são produzidos com zero gordura trans. Uma receita secreta com mais de 50 anos.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Entradas\":[\n    {\n      \"Nome do prato\":\"POLENTA FRITA\",\n      \"Descrição do prato\":\"Deliciosa polenta frita com parmesão, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha: geleia de pimenta.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS MÉDIA\",\n      \"Descrição do prato\":\"Acompanha: maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha: molho especial de limão.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":34.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com um delicioso molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"CAMARÃO CRISPY\",\n      \"Descrição do prato\":\"Deliciosa porção crocante de camarões empanados com\\nfarinha Panko. Acompanha molho rosé levemente picante.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":62.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":86.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados, acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"4 UNIDADES\",\n      \"Valor\":39.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Deliciosa linguiça de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":64.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta de molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":67.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Happy Hour\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9,\n      \"Valor happy\":7.45\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5,\n      \"Valor happy\":6.25\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5,\n      \"Valor happy\":21.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida  com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":86.5,\n      \"Valor happy\":76.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Linguiça de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":76.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta com molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":67.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":39.5,\n      \"Valor happy\":34.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha delicioso molho especial de limão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":34.5,\n      \"Valor happy\":28.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":29.5,\n      \"Valor happy\":24.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":42.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":40.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":39.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":51.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":59.5,\n      \"Valor happy\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":47.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":61.5,\n      \"Valor happy\":52.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"Nosso happy hour é de segunda à sexta, das 16h às 20h exceto feriados.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    }\n  ],\n  \"Bebidas\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"SPATEN LONK NECK\",\n      \"Descrição do prato\":\"Autêntica cerveja puro malte alemã, de sabor encorpado e amargor equilibrado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":15.9\n    },\n    {\n      \"Nome do prato\":\"GIN TROPICAL\",\n      \"Descrição do prato\":\"Gin com xarope de manga picante, lichia e suco de limão, finalizado com água tônica, hortelã e uma rodela de limão. Refrescante e equilibrado entre o cítrico e o adocicado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"NEGRONI NAPOLEÃO\",\n      \"Descrição do prato\":\"O Negroni de Napoleão é uma receita perfeita que combina xarope MONIN de pêssego, suco de limão e hortelã, resultando em um drink suave, irresistível e digno do imperador.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"ÁGUA MINERAL COM OU SEM GÁS\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":7.5\n    },\n    {\n      \"Nome do prato\":\"SUCO JARRA\",\n      \"Descrição do prato\":\"Laranja ou limonada suíça.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"REFRIGERANTE 350ML\",\n      \"Descrição do prato\":\"Coca-Cola, Coca-Cola Zero , Fanta Guaraná, Fanta Guaraná Zero, Fanta Laranja, Sprite e Tônica.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":9.0\n    },\n    {\n      \"Nome do prato\":\"SODA ITALIANA\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":13.5\n    },\n    {\n      \"Nome do prato\":\"SUCO COPO\",\n      \"Descrição do prato\":\"Laranja, abacaxi, abacaxi e hortelã, morango, maracujá, limonada suíça e uva.\",\n      \"Obersvações do prato\":\"Adicional de leite: R$ 1,50\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CHÁ GELADO\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":11.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    }\n  ],\n  \"Burger Prime\":[\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":51.5\n    },\n    {\n      \"Nome do prato\":\"CHORIPAN KHARINA\",\n      \"Descrição do prato\":\"Pão crocante, linguiça de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":47.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"HAMBÚGUER VEGETARIANO\",\n      \"Descrição do prato\":\"Pão crocante, hambúrger produzido com a proteína da ervilha, soja e grão de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Burger Tradicional\":[\n    {\n      \"Nome do prato\":\"CHEESE BURGER\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":37.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE SALADA\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":41.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO\",\n      \"Descrição do prato\":\"Pão brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO CRISPY\",\n      \"Descrição do prato\":\"Pão brioche, delicioso filé de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de limão com ervas finas.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":44.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE MIGNON\",\n      \"Descrição do prato\":\"Pão brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":58.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Clássicos\":[\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":59.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":61.5\n    },\n    {\n      \"Nome do prato\":\"CLUB MIGNON\",\n      \"Descrição do prato\":\"Suculento strogonoff de mignon, acompanhado de arroz branco e a inseparável porção de batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":68.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Executivos\":[\n    {\n      \"Nome do prato\":\"ESPETINHO DE MIGNON\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"STEAK BLACK ANGUS KHARINA\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"STROGONOFF DE MIGNON\",\n      \"Descrição do prato\":\"Suculento strogonoff de mignon, acompanhado de arroz branco e a inseparável porção de batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"FRANGO À PARMEGIANA\",\n      \"Descrição do prato\":\"Tradicional receita de filé black angus empanado, coberto com queijo prato, parmesão e um especial molho de tomate e por fim, gratinado. Acompanha arroz.\",\n      \"Obersvações do prato\":\"Pode ser servido com purê de batatas, batatas fritas ou spaghetti alho e óleo\",\n      \"Valor\":39.5\n    },\n    {\n      \"Nome do prato\":\"FILET À PARMEGIANA\",\n      \"Descrição do prato\":\"Tradicional receita de filé black angus empanado, coberto com queijo prato, parmesão e um especial molho de tomate e por fim, gratinado. Acompanha arroz.\",\n      \"Obersvações do prato\":\"Pode ser servido com purê de batatas, batatas fritas ou spaghetti alho e óleo\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"NOSSOS DELICIOSOS EXECUTIVOS ESTÃO DISPONÍVEIS DE SEGUNDA A SEXTA DAS 11H30 ÀS 15H30 | EXCETO FERIADOS\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"TODOS OS EXECUTIVOS ACOMPANHAM ENTRADA DE MINI POLENTA FRITA OU MINI SALADA CAESAR E BOLA DE SORVETE DE SOBREMESA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        64
      ],
      "id": "04dbf7d2-0bc3-4db3-93f6-795653545468",
      "name": "londrina",
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "temos a mensagem do cliente e o cardapio, precisamos retornar no formato json opcoes de acordo com o pedido do cliente\n\nmensagem do cliente: {{ $json.body.query }}\n\ncardapio: \n{\n  \"Grill\":[\n    {\n      \"Nome do prato\":\"ENTRECÔTE\",\n      \"Descrição do prato\":\"Também conhecido como Bife Ancho, o Entrecôte é considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incrível.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"O Bife de Chorizo é um corte nobre consagrado da Argentina, é uma carne macia e de sabor acentuado. Sua camada de gordura externa mantém a umidade da carne.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":94.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"O filé mignon é caracterizado como a parte bovina mais macia dentre todas as peças. O Filé tem sabor adocicado e menos acentuado. É suculento e possui pouca gordura. Para garantir uma combinação sensacional, sugerimos duas opções de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":84.0\n    },\n    {\n      \"Nome do prato\":\"FRANGO\",\n      \"Descrição do prato\":\"Uma escolha leve e saudável, nosso filé de peito de frango é selecionado com maestria. Desfrute da suculência e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":58.0\n    },\n    {\n      \"Nome do prato\":\"TILÁPIA\",\n      \"Descrição do prato\":\"Descubra o prazer do mar em nosso cardápio com o Filé de Tilápia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato é um convite irresistível. Acompanha molho de alcaparras.\",\n      \"Obersvações do prato\":\"Acompanhamentos: Maionese de batata da vovó; Arroz Biro-Biro; Polenta Crocante; Purê de Batata; Purê de Batata com Bacon; Batata Rústica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feijão; Legumes da Estação; Salada Caesar; Ou Batata Rústica.\",\n      \"Valor\":59.0\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"ESCOLHA UM GRILL E MAIS DOIS ACOMPANHAMENTOS OU A BATATA RECHEADA (ao escolher a batata recheada, ela contará como dois acompanhamentos)\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"ACOMPANHAMENTO EXTRA: R$ 14,50 | BATATA RECHEADA EXTRA: R$ 28,50\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Saladas\":[\n    {\n      \"Nome do prato\":\"CAPRESE\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de muçarela de búfala, tomatinhos cereja, tomates secos e croûtons. Coberto com nosso molho caseiro italiano.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":42.5\n    },\n    {\n      \"Nome do prato\":\"SALMÃO DEFUMADO\",\n      \"Descrição do prato\":\"Refinada seleção de folhas verdes acompanhada por lascas de salmão defumado e molho mostarda e mel.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":46.5\n    },\n    {\n      \"Nome do prato\":\"CAESAR\",\n      \"Descrição do prato\":\"Tradicional mix de folhas verdes acompanhado de croûtons e coberto com parmesão, além do nosso típico molho caesar artesanal.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"MANGA\",\n      \"Descrição do prato\":\"Mix de folhas verdes crocantes acompanhado de manga, croûtons e coberto com queijo parmesão e com nosso molho rosé especialmente caseiro.\",\n      \"Obersvações do prato\":\"É possível adicionar uma proteína ao prato\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Cada proteína tem um valor extra diferente.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Valores dos extras: Camarão defumado a R$19,50; Cubos de mignon a R$16,50; Cubos de frango a R$13,50; e Ovos cozidos a R$ 6,50.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Feijoada\":[\n    {\n      \"Nome do prato\":\"FEIJOADA KHARINA\",\n      \"Descrição do prato\":\"Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o inseparável torresminho.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":59.5,\n      \"Valor 2\":106.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Nossa feijoada é servida somente às quartas das 11h30 às 15h30.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"Caso prefira, escolha uma caipirinha de vodka por mais 15,90.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Churrasco KHARINA\":[\n    {\n      \"Nome do prato\":\"RIBEYE \\/ ENTRECÔTE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"BIFE DE CHORIZO\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"MIGNON\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido para uma ou duas pessoas\",\n      \"Valor 1\":104,\n      \"Valor 2\":198.0\n    },\n    {\n      \"Nome do prato\":\"T-BONE\",\n      \"Descrição do prato\":\"Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada.\",\n      \"Obersvações do prato\":\"Servido somente para uma pessoa\",\n      \"Valor 1\":\"-\",\n      \"Valor 2\":212.0\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"Sobremesa inclusa em todas as opções do Churrasco KHARINA: Bananinha à milanesa com canela e açúcar, calda de chocolate e bola de sorvete\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor 1\":\"\",\n      \"Valor 2\":\"\"\n    }\n  ],\n  \"Massas\":[\n    {\n      \"Nome do prato\":\"CAMARÃO SICILIANO\",\n      \"Descrição do prato\":\"Camarão selado, servido com penne ao molho cremoso de limão siciliano e vinho chardonnay.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":65.9\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI PRIMAVERA\",\n      \"Descrição do prato\":\"Massa spaghetti com muçarela de búfala, azeitonas pretas, manjericão fresco e molho ao sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"SPAGHETTI COM SALMÃO\",\n      \"Descrição do prato\":\"Massa spaghetti com molho branco, ervilha fresca, salmão defumado e rúcula.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Kids\":[\n    {\n      \"s\":\"01 - MASSA COM MIGNON KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"01 - MASSA COM CUBOS DE FRANGO KIDS\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"02 - SANDUBINHAS\",\n      \"Descrição do prato\":\"2 sanduichinhos com hambúrger 100% black angus e queijo, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":31.5\n    },\n    {\n      \"s\":\"03 - FILÉ DE FRANGO EMPANADO\",\n      \"Descrição do prato\":\"2 unidades, acompanhado de fritas e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":26.5\n    },\n    {\n      \"s\":\"04 - MASSA E MOLHO À SUA ESCOLHA\",\n      \"Descrição do prato\":\"Massa: spaghetti ou penne. Molho: branco ou sugo. Acompanha: queijo ralado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":23.5\n    },\n    {\n      \"s\":\"05 - MIGNON KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":33.5\n    },\n    {\n      \"s\":\"05 - CUBOS DE FRANGO KHARINA KIDS\",\n      \"Descrição do prato\":\"Acompanha arroz, feijão e fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"06 - PENNE À BOLONHESA\",\n      \"Descrição do prato\":\"Clássico molho italiano preparado com carne moída de primeira refogada ao molho sugo.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"s\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"CARDÁPIO EXCLUSIVO PARA CRIANÇAS DE ATÉ 12 ANOS.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"s\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Sobremesas\":[\n    {\n      \"Nome do prato\":\"BROWNIE COM SORVETE\",\n      \"Descrição do prato\":\"Fatia de bolo de chocolate, cacau e noz-pecã, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.5\n    },\n    {\n      \"Nome do prato\":\"APPLE PIE\",\n      \"Descrição do prato\":\"Incrível torta quente de maçã. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"PETIT GATEAU\",\n      \"Descrição do prato\":\"Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":35.5\n    },\n    {\n      \"Nome do prato\":\"O PUDIM PERFEITO\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":19.5\n    },\n    {\n      \"Nome do prato\":\"MILKSHAKE\",\n      \"Descrição do prato\":\"Creme, morango, chocolate, flocos ou banana.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"TAÇA DE SORVETE\",\n      \"Descrição do prato\":\"1 bola de sorvete (creme, morango, chocolate, flocos ou banana).\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":14.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"As deliciosas sobremesas do KHARINA, são verdadeiras tentações para não resistir. Nossos sorvetes são produzidos com zero gordura trans. Uma receita secreta com mais de 50 anos.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Entradas\":[\n    {\n      \"Nome do prato\":\"POLENTA FRITA\",\n      \"Descrição do prato\":\"Deliciosa polenta frita com parmesão, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha: geleia de pimenta.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":29.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS MÉDIA\",\n      \"Descrição do prato\":\"Acompanha: maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":24.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha: molho especial de limão.\",\n      \"Obersvações do prato\":\"6 UNIDADES\",\n      \"Valor\":34.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com um delicioso molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"CAMARÃO CRISPY\",\n      \"Descrição do prato\":\"Deliciosa porção crocante de camarões empanados com\\nfarinha Panko. Acompanha molho rosé levemente picante.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":62.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":86.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados, acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"4 UNIDADES\",\n      \"Valor\":39.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Deliciosa linguiça de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":64.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta de molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":67.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Happy Hour\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9,\n      \"Valor happy\":7.45\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5,\n      \"Valor happy\":6.25\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5,\n      \"Valor happy\":19.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5,\n      \"Valor happy\":21.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9,\n      \"Valor happy\":29.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5,\n      \"Valor happy\":17.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8,\n      \"Valor happy\":12.5\n    },\n    {\n      \"Nome do prato\":\"COSTELINHA BARBECUE\",\n      \"Descrição do prato\":\"Deliciosa costelinha suína marinada no molho barbecue servida  com batata rústica e salada caesar.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":86.5,\n      \"Valor happy\":76.5\n    },\n    {\n      \"Nome do prato\":\"LINGUICINHA\",\n      \"Descrição do prato\":\"Linguiça de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":76.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"NACHOS BIG\",\n      \"Descrição do prato\":\"Porção de nachos com carne moída coberta com molho especial de queijo tipo cheddar, sour cream e guacamole.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":67.5,\n      \"Valor happy\":58.5\n    },\n    {\n      \"Nome do prato\":\"CHICKEN CRISPY\",\n      \"Descrição do prato\":\"Filés de frango empanados acompanhados de maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":39.5,\n      \"Valor happy\":34.5\n    },\n    {\n      \"Nome do prato\":\"KIBE FRITO\",\n      \"Descrição do prato\":\"Acompanha delicioso molho especial de limão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":34.5,\n      \"Valor happy\":28.5\n    },\n    {\n      \"Nome do prato\":\"MINI PASTÉIS\",\n      \"Descrição do prato\":\"Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":29.5,\n      \"Valor happy\":24.5\n    },\n    {\n      \"Nome do prato\":\"FRITAS BIG\",\n      \"Descrição do prato\":\"Batata frita gratinada com queijo tipo cheddar, parmesão, prato e bacon.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":42.5\n    },\n    {\n      \"Nome do prato\":\"CARPACCIO\",\n      \"Descrição do prato\":\"Tradicional carpaccio temperado com molho de alcaparras, além de rúcula e queijo parmesão. Acompanha torradas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":49.5,\n      \"Valor happy\":40.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":48.5,\n      \"Valor happy\":39.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor cheio\":51.5,\n      \"Valor happy\":44.5\n    },\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":59.5,\n      \"Valor happy\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":56.5,\n      \"Valor happy\":47.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":61.5,\n      \"Valor happy\":52.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"Nosso happy hour é de segunda à sexta, das 16h às 20h exceto feriados.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\",\n      \"Valor happy\":\"\"\n    }\n  ],\n  \"Bebidas\":[\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CANECA CONGELADA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em caneca congelada a -40º.\",\n      \"Obersvações do prato\":\"350ml\",\n      \"Valor cheio\":14.9\n    },\n    {\n      \"Nome do prato\":\"CHOPP BRAHMA - CALDERETA\",\n      \"Descrição do prato\":\"Delicioso chopp Brahma em copo resfriado.\",\n      \"Obersvações do prato\":\"300ml\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA VODKA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA CACHAÇA\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"CAIPIRINHA SAQUÊ\",\n      \"Descrição do prato\":\"As caipirinhas são preparadas com frutas frescas da estação. Verifique com nossos atendentes as opções do dia.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":26.5\n    },\n    {\n      \"Nome do prato\":\"MOSCOW MULE\",\n      \"Descrição do prato\":\"Vodka, suco de limão, gengibre e espuma de gengibre.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"NEGRONI\",\n      \"Descrição do prato\":\"O Negroni engarrafado da Draco é marcante e envolvente. Uma releitura secreta do coquetel centenário, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"HAWAII SUNSET\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor coco, suco de abacaxi e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"GINGERBERRY\",\n      \"Descrição do prato\":\"Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, água com gás e limão espremido.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":28.5\n    },\n    {\n      \"Nome do prato\":\"VINHO TINTO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"VINHO BRANCO EM TAÇA\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":19.8\n    },\n    {\n      \"Nome do prato\":\"SPATEN LONK NECK\",\n      \"Descrição do prato\":\"Autêntica cerveja puro malte alemã, de sabor encorpado e amargor equilibrado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":15.9\n    },\n    {\n      \"Nome do prato\":\"GIN TROPICAL\",\n      \"Descrição do prato\":\"Gin com xarope de manga picante, lichia e suco de limão, finalizado com água tônica, hortelã e uma rodela de limão. Refrescante e equilibrado entre o cítrico e o adocicado.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":25.0\n    },\n    {\n      \"Nome do prato\":\"NEGRONI NAPOLEÃO\",\n      \"Descrição do prato\":\"O Negroni de Napoleão é uma receita perfeita que combina xarope MONIN de pêssego, suco de limão e hortelã, resultando em um drink suave, irresistível e digno do imperador.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":33.9\n    },\n    {\n      \"Nome do prato\":\"ÁGUA MINERAL COM OU SEM GÁS\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":7.5\n    },\n    {\n      \"Nome do prato\":\"SUCO JARRA\",\n      \"Descrição do prato\":\"Laranja ou limonada suíça.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":23.5\n    },\n    {\n      \"Nome do prato\":\"REFRIGERANTE 350ML\",\n      \"Descrição do prato\":\"Coca-Cola, Coca-Cola Zero , Fanta Guaraná, Fanta Guaraná Zero, Fanta Laranja, Sprite e Tônica.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":9.0\n    },\n    {\n      \"Nome do prato\":\"SODA ITALIANA\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":13.5\n    },\n    {\n      \"Nome do prato\":\"SUCO COPO\",\n      \"Descrição do prato\":\"Laranja, abacaxi, abacaxi e hortelã, morango, maracujá, limonada suíça e uva.\",\n      \"Obersvações do prato\":\"Adicional de leite: R$ 1,50\",\n      \"Valor cheio\":12.5\n    },\n    {\n      \"Nome do prato\":\"CHÁ GELADO\",\n      \"Descrição do prato\":\"Cranberry, limão, pêssego ou maçã verde.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":11.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor cheio\":\"\"\n    }\n  ],\n  \"Burger Prime\":[\n    {\n      \"Nome do prato\":\"CLASSIC BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":48.5\n    },\n    {\n      \"Nome do prato\":\"CLASSIC BURGER BACON\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":51.5\n    },\n    {\n      \"Nome do prato\":\"CHORIPAN KHARINA\",\n      \"Descrição do prato\":\"Pão crocante, linguiça de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":47.5\n    },\n    {\n      \"Nome do prato\":\"HANDYMAN\",\n      \"Descrição do prato\":\"Pão crocante, 2 hambúrgeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"ROCK BURGER\",\n      \"Descrição do prato\":\"Pão crocante, 1 hambúrger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"HAMBÚGUER VEGETARIANO\",\n      \"Descrição do prato\":\"Pão crocante, hambúrger produzido com a proteína da ervilha, soja e grão de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos PRIMES são feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA.\",\n      \"Valor\":49.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Burger Tradicional\":[\n    {\n      \"Nome do prato\":\"CHEESE BURGER\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":37.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE SALADA\",\n      \"Descrição do prato\":\"Pão brioche, hambúrger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":41.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO\",\n      \"Descrição do prato\":\"Pão brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":38.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE FRANGO CRISPY\",\n      \"Descrição do prato\":\"Pão brioche, delicioso filé de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de limão com ervas finas.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":44.5\n    },\n    {\n      \"Nome do prato\":\"CHEESE MIGNON\",\n      \"Descrição do prato\":\"Pão brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA.\",\n      \"Obersvações do prato\":\"Nossos TRADICIONAIS são feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais.\",\n      \"Valor\":58.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"EXTRAS: MAIONESE ESPECIAL KHARINA; MOLHO CHEDDAR; BARBECUE; PEPINO AGRIDOCE\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"EXTRA: R$ 3,00 CADA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Clássicos\":[\n    {\n      \"Nome do prato\":\"CLUB KHARINA\",\n      \"Descrição do prato\":\"Suculento filé mignon intercalado com cebola assada até a perfeição, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana à milanesa.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":59.5\n    },\n    {\n      \"Nome do prato\":\"CLUB ROCK\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":61.5\n    },\n    {\n      \"Nome do prato\":\"CLUB MIGNON\",\n      \"Descrição do prato\":\"Suculento strogonoff de mignon, acompanhado de arroz branco e a inseparável porção de batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":68.5\n    },\n    {\n      \"Nome do prato\":\"CLUB CHICKEN\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":56.5\n    },\n    {\n      \"Nome do prato\":\"Obersvações\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"-\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ],\n  \"Executivos\":[\n    {\n      \"Nome do prato\":\"STEAK BLACK ANGUS KHARINA\",\n      \"Descrição do prato\":\"Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feijão e batatas fritas.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":51.5\n    },\n    {\n      \"Nome do prato\":\"GNOCCHI DOS DEUSES\",\n      \"Descrição do prato\":\"Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjericão com lascas de queijo parmesão.\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":51.5\n    },\n    {\n      \"Nome do prato\":\"FILET À PARMEGIANA\",\n      \"Descrição do prato\":\"Tradicional receita de filé black angus empanado, coberto com queijo prato, parmesão e um especial molho de tomate e por fim, gratinado. Acompanha arroz.\",\n      \"Obersvações do prato\":\"Pode ser servido com purê de batatas, batatas fritas ou spaghetti alho e óleo\",\n      \"Valor\":59.5\n    },\n    {\n      \"Nome do prato\":\"Obersavções dos executivos\",\n      \"Descrição do prato\":\"NOSSOS DELICIOSOS EXECUTIVOS ESTÃO DISPONÍVEIS DE SEGUNDA A SEXTA DAS 11H30 ÀS 15H30 | EXCETO FERIADOS\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    },\n    {\n      \"Nome do prato\":\"\",\n      \"Descrição do prato\":\"TODOS OS EXECUTIVOS ACOMPANHAM ENTRADA DE MINI POLENTA FRITA OU MINI SALADA CAESAR E BOLA DE SORVETE DE SOBREMESA\",\n      \"Obersvações do prato\":\"\",\n      \"Valor\":\"\"\n    }\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        256
      ],
      "id": "7c848a4d-e974-45f4-beab-9e562bf501ac",
      "name": "sao paulo",
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        48
      ],
      "id": "411c556e-a249-4a8f-b440-d3ecb95f4bd3",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "908443b4-4af3-4f76-b2ea-4d2030f5dde9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        48
      ],
      "id": "42b8390c-7381-4565-a49d-0ac717926c7c",
      "name": "Webhook1",
      "webhookId": "908443b4-4af3-4f76-b2ea-4d2030f5dde9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        192
      ],
      "id": "06593773-a83a-491c-9389-4ec4cc2359ee",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "curitiba",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "londrina",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sao paulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "curitiba": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "londrina": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sao paulo": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23f18b6a-0816-4c57-9fce-5031e7754657",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "000ddc3340bd572bb0156eece3fb35f0994b1b02efafffb2337e193ef6a2a87c"
  },
  "id": "35AumnjxslZyvlmn",
  "tags": []
}