nodejs-bot/workflows-n8n/cardapio_vps.json
{
  "updatedAt": "2026-02-10T01:07:28.601Z",
  "createdAt": "2025-11-01T15:40:58.995Z",
  "id": "fQzO00WiTvItPLjP",
  "name": "Cardapio Kharina",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"city\": \"curitiba\",\n  \"number\":\"5541999999999\",\n  \"whatsapp_token\": \"abc123token\",\n  \"whatsapp_phone_id\": \"1007910339064845\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        320
      ],
      "id": "2a10bf5d-1275-4abd-9e83-351d6de1d361",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "Curitiba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8fe76f19-aca1-4a55-b425-0ca494979231"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curitiba"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c31def0-aeb6-4ed2-9359-402eebf4e4e1",
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "saopaulo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saopaulo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8915748c-075f-47e5-89a3-4b123b7584eb",
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "londrina",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "londrina"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "905696b1-d53a-4e7f-a336-e2fe66e9a093",
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "bebidas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bebidas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        544,
        320
      ],
      "id": "d3197015-d950-4955-8c6b-13dafe4acc3b",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.whatsapp_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.whatsapp_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.number }}\", \"type\": \"text\", \"text\": {\"body\": \"*GRILL*\\n- *PICANHA* (R$ 104,90)\\n  _Eleita o melhor prato do mundo pelo Tasteatlas Awards 2023, com nota de 4,75 de 5, a picanha est\\u00e1 de volta ao card\\u00e1pio da melhor steakhouse do Brasil. Sucul\\u00eancia e maciez incompar\\u00e1veis. Aproveite!_\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *ENTREC\\u00d4TE* (R$ 94,00)\\n  _Tamb\\u00e9m conhecido como Bife Ancho, o Entrec\\u00f4te \\u00e9 considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incr\\u00edvel._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *BIFE DE CHORIZO* (R$ 94,00)\\n  _O Bife de Chorizo \\u00e9 um corte nobre consagrado da Argentina, \\u00e9 uma carne macia e de sabor acentuado. Sua camada de gordura externa mant\\u00e9m a umidade da carne._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *MIGNON* (R$ 84,00)\\n  _O fil\\u00e9 mignon \\u00e9 caracterizado como a parte bovina mais macia dentre todas as pe\\u00e7as. O Fil\\u00e9 tem sabor adocicado e menos acentuado. \\u00c9 suculento e possui pouca gordura. Para garantir uma combina\\u00e7\\u00e3o sensacional, sugerimos duas op\\u00e7\\u00f5es de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *FRANGO* (R$ 58,00)\\n  _Uma escolha leve e saud\\u00e1vel, nosso fil\\u00e9 de peito de frango \\u00e9 selecionado com maestria. Desfrute da sucul\\u00eancia e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *TIL\\u00c1PIA* (R$ 59,00)\\n  _Descubra o prazer do mar em nosso card\\u00e1pio com o Fil\\u00e9 de Til\\u00e1pia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato \\u00e9 um convite irresist\\u00edvel. Acompanha molho de\\u00a0alcaparras._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n\\n*SALADAS*\\n- *CAPRESE* (R$ 42,50)\\n  _Mix de folhas verdes crocantes acompanhado de mu\\u00e7arela de b\\u00fafala, tomatinhos cereja, tomates secos e cro\\u00fbtons. Coberto com nosso molho caseiro italiano._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *SALM\\u00c3O DEFUMADO* (R$ 46,50)\\n  _Refinada sele\\u00e7\\u00e3o de folhas verdes acompanhada por lascas de salm\\u00e3o defumado e molho mostarda e mel._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *CAESAR* (R$ 38,50)\\n  _Tradicional mix de folhas verdes acompanhado de cro\\u00fbtons e coberto com parmes\\u00e3o, al\\u00e9m do nosso t\\u00edpico molho caesar artesanal._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *MANGA* (R$ 38,50)\\n  _Mix de folhas verdes crocantes acompanhado de manga, cro\\u00fbtons e coberto com queijo parmes\\u00e3o e com nosso molho ros\\u00e9 especialmente caseiro._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n\\n*FEIJOADA*\\n- *FEIJOADA KHARINA* (R$ 59,50 / R$ 106,50)\\n  _Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o insepar\\u00e1vel torresminho._\\n  _Obs: Servido para uma ou duas pessoas_\\n\\n*CHURRASCO KHARINA*\\n- *PICANHA* (R$ 112,00 / R$ 212,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *RIBEYE / ENTREC\\u00d4TE* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *BIFE DE CHORIZO* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *MIGNON* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *T-BONE* (- / R$ 212,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido somente para uma pessoa_\\n\\n*MASSAS*\\n- *CAMAR\\u00c3O SICILIANO* (R$ 65,90)\\n  _Camar\\u00e3o selado, servido com penne ao molho cremoso de lim\\u00e3o siciliano e vinho chardonnay._\\n- *GNOCCHI DOS DEUSES* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *SPAGHETTI PRIMAVERA* (R$ 49,50)\\n  _Massa spaghetti com mu\\u00e7arela de b\\u00fafala, azeitonas pretas, manjeric\\u00e3o fresco e molho ao sugo._\\n- *SPAGHETTI COM SALM\\u00c3O* (R$ 49,50)\\n  _Massa spaghetti com molho branco, ervilha fresca, salm\\u00e3o defumado e r\\u00facula._\\n\\n*KIDS*\\n\\n*SOBREMESAS*\\n- *BROWNIE COM SORVETE* (R$ 35,40)\\n  _Fatia de bolo de chocolate, cacau e noz-pec\\u00e3, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *APPLE PIE* (R$ 29,50)\\n  _Incr\\u00edvel torta quente de ma\\u00e7\\u00e3. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *PETIT GATEAU* (R$ 35,50)\\n  _Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *O PUDIM PERFEITO* (R$ 19,50)\\n- *MINI BRIGADEIRO* (R$ 9,50)\\n- *KHARINA BLACK COOKIE* (R$ 37,50)\\n  _Ta\\u00e7a envolvida com delicioso ganache, oreo e calda de chocolate. Um mix de sabores com sorvete de chocolate, sorvete de creme, chantilly e um biscoito oreo._\\n- *MILKSHAKE* (R$ 29,50)\\n  _Creme, morango, chocolate, flocos ou banana._\\n- *BANANA SPLIT* (R$ 38,50)\\n  _3 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *SUNDAE* (R$ 29,50)\\n  _2 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *COLEGIAL* (R$ 19,50)\\n  _1 bola de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *TA\\u00c7A DE SORVETE* (R$ 14,50)\\n  _1 bola de sorvete (creme, morango, chocolate, flocos ou banana)._\\n\\n*ENTRADAS*\\n- *POLENTA FRITA* (R$ 24,50)\\n  _Deliciosa polenta frita com parmes\\u00e3o, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar._\\n- *MINI PAST\\u00c9IS* (R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha: geleia de pimenta._\\n  _Obs: 6 UNIDADES_\\n- *FRITAS M\\u00c9DIA* (R$ 24,50)\\n  _Acompanha: maionese especial KHARINA._\\n- *KIBE FRITO* (R$ 34,50)\\n  _Acompanha: molho especial de lim\\u00e3o._\\n  _Obs: 6 UNIDADES_\\n- *CARPACCIO* (R$ 49,50)\\n  _Tradicional carpaccio temperado com um delicioso molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *CAMAR\\u00c3O CRISPY* (R$ 62,50)\\n  _Deliciosa por\\u00e7\\u00e3o crocante de camar\\u00f5es empanados com\\nfarinha Panko. Acompanha molho ros\\u00e9 levemente picante._\\n- *COSTELINHA BARBECUE* (R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida com batata r\\u00fastica e salada caesar._\\n- *CHICKEN CRISPY* (R$ 39,50)\\n  _Fil\\u00e9s de frango empanados, acompanhados de maionese especial KHARINA._\\n  _Obs: 4 UNIDADES_\\n- *FRITAS BIG* (R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *LINGUICINHA* (R$ 64,50)\\n  _Deliciosa lingui\\u00e7a de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta de molho especial de queijo tipo cheddar, sour cream e guacamole._\\n\\n*HAPPY HOUR*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (Happy Hour: R$ 7,45 / Normal: R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (Happy Hour: R$ 6,25 / Normal: R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (Happy Hour: R$ 19,50 / Normal: R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (Happy Hour: R$ 19,50 / Normal: R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (Happy Hour: R$ 21,50 / Normal: R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (Happy Hour: R$ 17,50 / Normal: R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (Happy Hour: R$ 17,50 / Normal: R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *COSTELINHA BARBECUE* (Happy Hour: R$ 76,50 / Normal: R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida  com batata r\\u00fastica e salada caesar._\\n- *LINGUICINHA* (Happy Hour: R$ 58,50 / Normal: R$ 64,50)\\n  _Lingui\\u00e7a de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (Happy Hour: R$ 58,50 / Normal: R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta com molho especial de queijo tipo cheddar, sour cream e guacamole._\\n- *CHICKEN CRISPY* (Happy Hour: R$ 34,50 / Normal: R$ 39,50)\\n  _Fil\\u00e9s de frango empanados acompanhados de maionese especial KHARINA._\\n- *KIBE FRITO* (Happy Hour: R$ 28,50 / Normal: R$ 34,50)\\n  _Acompanha delicioso molho especial de lim\\u00e3o._\\n- *MINI PAST\\u00c9IS* (Happy Hour: R$ 24,50 / Normal: R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta._\\n- *FRITAS BIG* (Happy Hour: R$ 42,50 / Normal: R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *CARPACCIO* (Happy Hour: R$ 44,50 / Normal: R$ 49,50)\\n  _Tradicional carpaccio temperado com molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *HANDYMAN* (Happy Hour: R$ 44,50 / Normal: R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (Happy Hour: R$ 40,50 / Normal: R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER* (Happy Hour: R$ 39,50 / Normal: R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (Happy Hour: R$ 44,50 / Normal: R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLUB KHARINA* (Happy Hour: R$ 48,50 / Normal: R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB CHICKEN* (Happy Hour: R$ 47,50 / Normal: R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *CLUB ROCK* (Happy Hour: R$ 52,50 / Normal: R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n\\n*BEBIDAS*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (R$ 19,80)\\n- *SPATEN LONK NECK* (R$ 15,90)\\n  _Aut\\u00eantica cerveja puro malte alem\\u00e3, de sabor encorpado e amargor equilibrado._\\n- *GIN TROPICAL* (R$ 25,00)\\n  _Gin com xarope de manga picante, lichia e suco de lim\\u00e3o, finalizado com \\u00e1gua t\\u00f4nica, hortel\\u00e3 e uma rodela de lim\\u00e3o. Refrescante e equilibrado entre o c\\u00edtrico e o adocicado._\\n- *NEGRONI NAPOLE\\u00c3O* (R$ 33,90)\\n  _O Negroni de Napole\\u00e3o \\u00e9 uma receita perfeita que combina xarope MONIN de p\\u00eassego, suco de lim\\u00e3o e hortel\\u00e3, resultando em um drink suave, irresist\\u00edvel e digno do imperador._\\n- *\\u00c1GUA MINERAL COM OU SEM G\\u00c1S* (R$ 7,50)\\n- *SUCO JARRA* (R$ 23,50)\\n  _Laranja ou limonada su\\u00ed\\u00e7a._\\n- *REFRIGERANTE 350ML* (R$ 9,00)\\n  _Coca-Cola, Coca-Cola Zero , Fanta Guaran\\u00e1, Fanta Guaran\\u00e1 Zero, Fanta Laranja, Sprite e T\\u00f4nica._\\n- *SODA ITALIANA* (R$ 13,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n- *SUCO COPO* (R$ 12,50)\\n  _Laranja, abacaxi, abacaxi e hortel\\u00e3, morango, maracuj\\u00e1, limonada su\\u00ed\\u00e7a e uva._\\n  _Obs: Adicional de leite: R$ 1,50_\\n- *CH\\u00c1 GELADO* (R$ 11,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n\\n*BURGER PRIME*\\n- *CLASSIC BURGER* (R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CHORIPAN KHARINA* (R$ 47,50)\\n  _P\\u00e3o crocante, lingui\\u00e7a de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HANDYMAN* (R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HAMB\\u00daGUER VEGETARIANO* (R$ 49,50)\\n  _P\\u00e3o crocante, hamb\\u00farger produzido com a prote\\u00edna da ervilha, soja e gr\\u00e3o de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n\\n*BURGER TRADICIONAL*\\n- *CHEESE BURGER* (R$ 37,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE SALADA* (R$ 41,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO* (R$ 38,50)\\n  _P\\u00e3o brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO CRISPY* (R$ 44,50)\\n  _P\\u00e3o brioche, delicioso fil\\u00e9 de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de lim\\u00e3o com ervas finas._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE MIGNON* (R$ 58,50)\\n  _P\\u00e3o brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n\\n*CL\\u00c1SSICOS*\\n- *CLUB KHARINA* (R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB ROCK* (R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *CLUB MIGNON* (R$ 68,50)\\n  _Suculento strogonoff de mignon, acompanhado de arroz branco e a insepar\\u00e1vel por\\u00e7\\u00e3o de batatas fritas._\\n- *CLUB CHICKEN* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n\\n*EXECUTIVOS*\\n- *ESPETINHO DE MIGNON* (R$ 57,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *STEAK BLACK ANGUS KHARINA* (R$ 49,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *STROGONOFF DE MIGNON* (R$ 57,50)\\n  _Suculento strogonoff de mignon, acompanhado de arroz branco e a insepar\\u00e1vel por\\u00e7\\u00e3o de batatas fritas._\\n- *GNOCCHI DOS DEUSES* (R$ 49,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *FRANGO \\u00c0 PARMEGIANA* (R$ 49,50)\\n  _Tradicional receita de fil\\u00e9 black angus empanado, coberto com queijo prato, parmes\\u00e3o e um especial molho de tomate e por fim, gratinado. Acompanha arroz._\\n  _Obs: Pode ser servido com pur\\u00ea de batatas, batatas fritas ou spaghetti alho e \\u00f3leo_\\n- *FILET \\u00c0 PARMEGIANA* (R$ 57,50)\\n  _Tradicional receita de fil\\u00e9 black angus empanado, coberto com queijo prato, parmes\\u00e3o e um especial molho de tomate e por fim, gratinado. Acompanha arroz._\\n  _Obs: Pode ser servido com pur\\u00ea de batatas, batatas fritas ou spaghetti alho e \\u00f3leo_\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        112
      ],
      "id": "925b6ed2-41ff-46bf-989c-8e08a73f53ac",
      "name": "Curitiba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/{{ $json.whatsapp_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.whatsapp_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.number }}\", \"type\": \"text\", \"text\": {\"body\": \"*GRILL*\\n- *ENTREC\\u00d4TE* (R$ 94,00)\\n  _Tamb\\u00e9m conhecido como Bife Ancho, o Entrec\\u00f4te \\u00e9 considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incr\\u00edvel._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *BIFE DE CHORIZO* (R$ 94,00)\\n  _O Bife de Chorizo \\u00e9 um corte nobre consagrado da Argentina, \\u00e9 uma carne macia e de sabor acentuado. Sua camada de gordura externa mant\\u00e9m a umidade da carne._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *MIGNON* (R$ 84,00)\\n  _O fil\\u00e9 mignon \\u00e9 caracterizado como a parte bovina mais macia dentre todas as pe\\u00e7as. O Fil\\u00e9 tem sabor adocicado e menos acentuado. \\u00c9 suculento e possui pouca gordura. Para garantir uma combina\\u00e7\\u00e3o sensacional, sugerimos duas op\\u00e7\\u00f5es de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *FRANGO* (R$ 58,00)\\n  _Uma escolha leve e saud\\u00e1vel, nosso fil\\u00e9 de peito de frango \\u00e9 selecionado com maestria. Desfrute da sucul\\u00eancia e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *TIL\\u00c1PIA* (R$ 59,00)\\n  _Descubra o prazer do mar em nosso card\\u00e1pio com o Fil\\u00e9 de Til\\u00e1pia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato \\u00e9 um convite irresist\\u00edvel. Acompanha molho de\\u00a0alcaparras._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n\\n*SALADAS*\\n- *CAPRESE* (R$ 42,50)\\n  _Mix de folhas verdes crocantes acompanhado de mu\\u00e7arela de b\\u00fafala, tomatinhos cereja, tomates secos e cro\\u00fbtons. Coberto com nosso molho caseiro italiano._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *SALM\\u00c3O DEFUMADO* (R$ 46,50)\\n  _Refinada sele\\u00e7\\u00e3o de folhas verdes acompanhada por lascas de salm\\u00e3o defumado e molho mostarda e mel._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *CAESAR* (R$ 38,50)\\n  _Tradicional mix de folhas verdes acompanhado de cro\\u00fbtons e coberto com parmes\\u00e3o, al\\u00e9m do nosso t\\u00edpico molho caesar artesanal._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *MANGA* (R$ 38,50)\\n  _Mix de folhas verdes crocantes acompanhado de manga, cro\\u00fbtons e coberto com queijo parmes\\u00e3o e com nosso molho ros\\u00e9 especialmente caseiro._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n\\n*FEIJOADA*\\n- *FEIJOADA KHARINA* (R$ 59,50 / R$ 106,50)\\n  _Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o insepar\\u00e1vel torresminho._\\n  _Obs: Servido para uma ou duas pessoas_\\n\\n*CHURRASCO KHARINA*\\n- *RIBEYE / ENTREC\\u00d4TE* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *BIFE DE CHORIZO* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *MIGNON* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *T-BONE* (- / R$ 212,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido somente para uma pessoa_\\n\\n*MASSAS*\\n- *CAMAR\\u00c3O SICILIANO* (R$ 65,90)\\n  _Camar\\u00e3o selado, servido com penne ao molho cremoso de lim\\u00e3o siciliano e vinho chardonnay._\\n- *GNOCCHI DOS DEUSES* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *SPAGHETTI PRIMAVERA* (R$ 49,50)\\n  _Massa spaghetti com mu\\u00e7arela de b\\u00fafala, azeitonas pretas, manjeric\\u00e3o fresco e molho ao sugo._\\n- *SPAGHETTI COM SALM\\u00c3O* (R$ 49,50)\\n  _Massa spaghetti com molho branco, ervilha fresca, salm\\u00e3o defumado e r\\u00facula._\\n\\n*KIDS*\\n\\n*SOBREMESAS*\\n- *BROWNIE COM SORVETE* (R$ 35,50)\\n  _Fatia de bolo de chocolate, cacau e noz-pec\\u00e3, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *APPLE PIE* (R$ 29,50)\\n  _Incr\\u00edvel torta quente de ma\\u00e7\\u00e3. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *PETIT GATEAU* (R$ 35,50)\\n  _Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *O PUDIM PERFEITO* (R$ 19,50)\\n- *MILKSHAKE* (R$ 29,50)\\n  _Creme, morango, chocolate, flocos ou banana._\\n- *TA\\u00c7A DE SORVETE* (R$ 14,50)\\n  _1 bola de sorvete (creme, morango, chocolate, flocos ou banana)._\\n\\n*ENTRADAS*\\n- *POLENTA FRITA* (R$ 24,50)\\n  _Deliciosa polenta frita com parmes\\u00e3o, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar._\\n- *MINI PAST\\u00c9IS* (R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha: geleia de pimenta._\\n  _Obs: 6 UNIDADES_\\n- *FRITAS M\\u00c9DIA* (R$ 24,50)\\n  _Acompanha: maionese especial KHARINA._\\n- *KIBE FRITO* (R$ 34,50)\\n  _Acompanha: molho especial de lim\\u00e3o._\\n  _Obs: 6 UNIDADES_\\n- *CARPACCIO* (R$ 49,50)\\n  _Tradicional carpaccio temperado com um delicioso molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *CAMAR\\u00c3O CRISPY* (R$ 62,50)\\n  _Deliciosa por\\u00e7\\u00e3o crocante de camar\\u00f5es empanados com\\nfarinha Panko. Acompanha molho ros\\u00e9 levemente picante._\\n- *COSTELINHA BARBECUE* (R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida com batata r\\u00fastica e salada caesar._\\n- *CHICKEN CRISPY* (R$ 39,50)\\n  _Fil\\u00e9s de frango empanados, acompanhados de maionese especial KHARINA._\\n  _Obs: 4 UNIDADES_\\n- *FRITAS BIG* (R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *LINGUICINHA* (R$ 64,50)\\n  _Deliciosa lingui\\u00e7a de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta de molho especial de queijo tipo cheddar, sour cream e guacamole._\\n\\n*HAPPY HOUR*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (Happy Hour: R$ 7,45 / Normal: R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (Happy Hour: R$ 6,25 / Normal: R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (Happy Hour: R$ 19,50 / Normal: R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (Happy Hour: R$ 19,50 / Normal: R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (Happy Hour: R$ 21,50 / Normal: R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (Happy Hour: R$ 17,50 / Normal: R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (Happy Hour: R$ 17,50 / Normal: R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *COSTELINHA BARBECUE* (Happy Hour: R$ 76,50 / Normal: R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida  com batata r\\u00fastica e salada caesar._\\n- *LINGUICINHA* (Happy Hour: R$ 58,50 / Normal: R$ 76,50)\\n  _Lingui\\u00e7a de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (Happy Hour: R$ 58,50 / Normal: R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta com molho especial de queijo tipo cheddar, sour cream e guacamole._\\n- *CHICKEN CRISPY* (Happy Hour: R$ 34,50 / Normal: R$ 39,50)\\n  _Fil\\u00e9s de frango empanados acompanhados de maionese especial KHARINA._\\n- *KIBE FRITO* (Happy Hour: R$ 28,50 / Normal: R$ 34,50)\\n  _Acompanha delicioso molho especial de lim\\u00e3o._\\n- *MINI PAST\\u00c9IS* (Happy Hour: R$ 24,50 / Normal: R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta._\\n- *FRITAS BIG* (Happy Hour: R$ 42,50 / Normal: R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *CARPACCIO* (Happy Hour: R$ 44,50 / Normal: R$ 49,50)\\n  _Tradicional carpaccio temperado com molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *HANDYMAN* (Happy Hour: R$ 44,50 / Normal: R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (Happy Hour: R$ 40,50 / Normal: R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER* (Happy Hour: R$ 39,50 / Normal: R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (Happy Hour: R$ 44,50 / Normal: R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLUB KHARINA* (Happy Hour: R$ 48,50 / Normal: R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB CHICKEN* (Happy Hour: R$ 47,50 / Normal: R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *CLUB ROCK* (Happy Hour: R$ 52,50 / Normal: R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n\\n*BEBIDAS*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (R$ 19,80)\\n- *SPATEN LONK NECK* (R$ 15,90)\\n  _Aut\\u00eantica cerveja puro malte alem\\u00e3, de sabor encorpado e amargor equilibrado._\\n- *GIN TROPICAL* (R$ 25,00)\\n  _Gin com xarope de manga picante, lichia e suco de lim\\u00e3o, finalizado com \\u00e1gua t\\u00f4nica, hortel\\u00e3 e uma rodela de lim\\u00e3o. Refrescante e equilibrado entre o c\\u00edtrico e o adocicado._\\n- *NEGRONI NAPOLE\\u00c3O* (R$ 33,90)\\n  _O Negroni de Napole\\u00e3o \\u00e9 uma receita perfeita que combina xarope MONIN de p\\u00eassego, suco de lim\\u00e3o e hortel\\u00e3, resultando em um drink suave, irresist\\u00edvel e digno do imperador._\\n- *\\u00c1GUA MINERAL COM OU SEM G\\u00c1S* (R$ 7,50)\\n- *SUCO JARRA* (R$ 23,50)\\n  _Laranja ou limonada su\\u00ed\\u00e7a._\\n- *REFRIGERANTE 350ML* (R$ 9,00)\\n  _Coca-Cola, Coca-Cola Zero , Fanta Guaran\\u00e1, Fanta Guaran\\u00e1 Zero, Fanta Laranja, Sprite e T\\u00f4nica._\\n- *SODA ITALIANA* (R$ 13,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n- *SUCO COPO* (R$ 12,50)\\n  _Laranja, abacaxi, abacaxi e hortel\\u00e3, morango, maracuj\\u00e1, limonada su\\u00ed\\u00e7a e uva._\\n  _Obs: Adicional de leite: R$ 1,50_\\n- *CH\\u00c1 GELADO* (R$ 11,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n\\n*BURGER PRIME*\\n- *CLASSIC BURGER* (R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CHORIPAN KHARINA* (R$ 47,50)\\n  _P\\u00e3o crocante, lingui\\u00e7a de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HANDYMAN* (R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HAMB\\u00daGUER VEGETARIANO* (R$ 49,50)\\n  _P\\u00e3o crocante, hamb\\u00farger produzido com a prote\\u00edna da ervilha, soja e gr\\u00e3o de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n\\n*BURGER TRADICIONAL*\\n- *CHEESE BURGER* (R$ 37,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE SALADA* (R$ 41,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO* (R$ 38,50)\\n  _P\\u00e3o brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO CRISPY* (R$ 44,50)\\n  _P\\u00e3o brioche, delicioso fil\\u00e9 de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de lim\\u00e3o com ervas finas._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE MIGNON* (R$ 58,50)\\n  _P\\u00e3o brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n\\n*CL\\u00c1SSICOS*\\n- *CLUB KHARINA* (R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB ROCK* (R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *CLUB MIGNON* (R$ 68,50)\\n  _Suculento strogonoff de mignon, acompanhado de arroz branco e a insepar\\u00e1vel por\\u00e7\\u00e3o de batatas fritas._\\n- *CLUB CHICKEN* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n\\n*EXECUTIVOS*\\n- *STEAK BLACK ANGUS KHARINA* (R$ 51,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *GNOCCHI DOS DEUSES* (R$ 51,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *FILET \\u00c0 PARMEGIANA* (R$ 59,50)\\n  _Tradicional receita de fil\\u00e9 black angus empanado, coberto com queijo prato, parmes\\u00e3o e um especial molho de tomate e por fim, gratinado. Acompanha arroz._\\n  _Obs: Pode ser servido com pur\\u00ea de batatas, batatas fritas ou spaghetti alho e \\u00f3leo_\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        320
      ],
      "id": "2cf3d29a-740d-42c9-bd29-c535f8acf3d7",
      "name": "Sao Paulo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/{{ $json.whatsapp_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.whatsapp_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.number }}\", \"type\": \"text\", \"text\": {\"body\": \"*GRILL*\\n- *PICANHA* (R$ 104,90)\\n  _Eleita o melhor prato do mundo pelo Tasteatlas Awards 2023, com nota de 4,75 de 5, a picanha est\\u00e1 de volta ao card\\u00e1pio da melhor steakhouse do Brasil. Sucul\\u00eancia e maciez incompar\\u00e1veis. Aproveite!_\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *ENTREC\\u00d4TE* (R$ 94,00)\\n  _Tamb\\u00e9m conhecido como Bife Ancho, o Entrec\\u00f4te \\u00e9 considerado um dos melhores cortes da carne bovina, extremamente saboroso, suculento e macio, tem fibras curtas e macias e um marmoreio incr\\u00edvel._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *BIFE DE CHORIZO* (R$ 94,00)\\n  _O Bife de Chorizo \\u00e9 um corte nobre consagrado da Argentina, \\u00e9 uma carne macia e de sabor acentuado. Sua camada de gordura externa mant\\u00e9m a umidade da carne._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *MIGNON* (R$ 84,00)\\n  _O fil\\u00e9 mignon \\u00e9 caracterizado como a parte bovina mais macia dentre todas as pe\\u00e7as. O Fil\\u00e9 tem sabor adocicado e menos acentuado. \\u00c9 suculento e possui pouca gordura. Para garantir uma combina\\u00e7\\u00e3o sensacional, sugerimos duas op\\u00e7\\u00f5es de molhos que acompanha o prato: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *FRANGO* (R$ 58,00)\\n  _Uma escolha leve e saud\\u00e1vel, nosso fil\\u00e9 de peito de frango \\u00e9 selecionado com maestria. Desfrute da sucul\\u00eancia e sabor incluindo um dos molhos: GORGONZOLA ou MOSTARDA._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n- *TIL\\u00c1PIA* (R$ 59,00)\\n  _Descubra o prazer do mar em nosso card\\u00e1pio com o Fil\\u00e9 de Til\\u00e1pia levemente empanada e selada no fio de azeite. Leve, suculento e perfeitamente preparado, este prato \\u00e9 um convite irresist\\u00edvel. Acompanha molho de\\u00a0alcaparras._\\n  _Obs: Acompanhamentos: Maionese de batata da vov\\u00f3; Arroz Biro-Biro; Polenta Crocante; Pur\\u00ea de Batata; Pur\\u00ea de Batata com Bacon; Batata R\\u00fastica; Batata Frita; Arroz Branco; Arroz Cremoso; Farofa; Sphagetti na Manteiga; Vinagrete; Feij\\u00e3o; Legumes da Esta\\u00e7\\u00e3o; Salada Caesar; Ou Batata R\\u00fastica._\\n\\n*SALADAS*\\n- *CAPRESE* (R$ 42,50)\\n  _Mix de folhas verdes crocantes acompanhado de mu\\u00e7arela de b\\u00fafala, tomatinhos cereja, tomates secos e cro\\u00fbtons. Coberto com nosso molho caseiro italiano._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *SALM\\u00c3O DEFUMADO* (R$ 46,50)\\n  _Refinada sele\\u00e7\\u00e3o de folhas verdes acompanhada por lascas de salm\\u00e3o defumado e molho mostarda e mel._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *CAESAR* (R$ 38,50)\\n  _Tradicional mix de folhas verdes acompanhado de cro\\u00fbtons e coberto com parmes\\u00e3o, al\\u00e9m do nosso t\\u00edpico molho caesar artesanal._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n- *MANGA* (R$ 38,50)\\n  _Mix de folhas verdes crocantes acompanhado de manga, cro\\u00fbtons e coberto com queijo parmes\\u00e3o e com nosso molho ros\\u00e9 especialmente caseiro._\\n  _Obs: \\u00c9 poss\\u00edvel adicionar uma prote\\u00edna ao prato_\\n\\n*FEIJOADA*\\n- *FEIJOADA KHARINA* (R$ 59,50 / R$ 106,50)\\n  _Tradicional feijoada completa, acompanhada de arroz branco, farofa, laranja, vinagrete, couve refogada com bacon e o insepar\\u00e1vel torresminho._\\n  _Obs: Servido para uma ou duas pessoas_\\n\\n*CHURRASCO KHARINA*\\n- *PICANHA* (R$ 112,00 / R$ 212,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *RIBEYE / ENTREC\\u00d4TE* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *BIFE DE CHORIZO* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *MIGNON* (R$ 104,00 / R$ 198,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido para uma ou duas pessoas_\\n- *T-BONE* (- / R$ 212,00)\\n  _Acompanhamento: Alho Cozido; Cebola Assada; Tomate Assado; Farofa; Arroz Biro-Biro; Maionese de Batata; e Mini Polenta de entrada._\\n  _Obs: Servido somente para uma pessoa_\\n\\n*MASSAS*\\n- *CAMAR\\u00c3O SICILIANO* (R$ 65,90)\\n  _Camar\\u00e3o selado, servido com penne ao molho cremoso de lim\\u00e3o siciliano e vinho chardonnay._\\n- *GNOCCHI DOS DEUSES* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *SPAGHETTI PRIMAVERA* (R$ 49,50)\\n  _Massa spaghetti com mu\\u00e7arela de b\\u00fafala, azeitonas pretas, manjeric\\u00e3o fresco e molho ao sugo._\\n- *SPAGHETTI COM SALM\\u00c3O* (R$ 49,50)\\n  _Massa spaghetti com molho branco, ervilha fresca, salm\\u00e3o defumado e r\\u00facula._\\n\\n*KIDS*\\n\\n*SOBREMESAS*\\n- *BROWNIE COM SORVETE* (R$ 35,50)\\n  _Fatia de bolo de chocolate, cacau e noz-pec\\u00e3, coberto com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *APPLE PIE* (R$ 29,50)\\n  _Incr\\u00edvel torta quente de ma\\u00e7\\u00e3. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *PETIT GATEAU* (R$ 35,50)\\n  _Bolinho quente de chocolate com recheio cremoso, com calda de chocolate. Escolha o sabor do sorvete: creme, chocolate, morango, flocos ou banana sobre farofa de bolacha._\\n- *O PUDIM PERFEITO* (R$ 19,50)\\n- *MINI BRIGADEIRO* (R$ 9,50)\\n- *KHARINA BLACK COOKIE* (R$ 37,50)\\n  _Ta\\u00e7a envolvida com delicioso ganache, oreo e calda de chocolate. Um mix de sabores com sorvete de chocolate, sorvete de creme, chantilly e um biscoito oreo._\\n- *MILKSHAKE* (R$ 29,50)\\n  _Creme, morango, chocolate, flocos ou banana._\\n- *BANANA SPLIT* (R$ 38,50)\\n  _3 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *SUNDAE* (R$ 29,50)\\n  _2 bolas de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *COLEGIAL* (R$ 19,50)\\n  _1 bola de sorvete (creme, morango, chocolate, flocos ou banana) + toppings._\\n- *TA\\u00c7A DE SORVETE* (R$ 14,50)\\n  _1 bola de sorvete (creme, morango, chocolate, flocos ou banana)._\\n\\n*ENTRADAS*\\n- *POLENTA FRITA* (R$ 24,50)\\n  _Deliciosa polenta frita com parmes\\u00e3o, crocante por fora e macia por dentro. Acompanha delicioso molho tipo cheddar._\\n- *MINI PAST\\u00c9IS* (R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha: geleia de pimenta._\\n  _Obs: 6 UNIDADES_\\n- *FRITAS M\\u00c9DIA* (R$ 24,50)\\n  _Acompanha: maionese especial KHARINA._\\n- *KIBE FRITO* (R$ 34,50)\\n  _Acompanha: molho especial de lim\\u00e3o._\\n  _Obs: 6 UNIDADES_\\n- *CARPACCIO* (R$ 49,50)\\n  _Tradicional carpaccio temperado com um delicioso molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *CAMAR\\u00c3O CRISPY* (R$ 62,50)\\n  _Deliciosa por\\u00e7\\u00e3o crocante de camar\\u00f5es empanados com\\nfarinha Panko. Acompanha molho ros\\u00e9 levemente picante._\\n- *COSTELINHA BARBECUE* (R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida com batata r\\u00fastica e salada caesar._\\n- *CHICKEN CRISPY* (R$ 39,50)\\n  _Fil\\u00e9s de frango empanados, acompanhados de maionese especial KHARINA._\\n  _Obs: 4 UNIDADES_\\n- *FRITAS BIG* (R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *LINGUICINHA* (R$ 64,50)\\n  _Deliciosa lingui\\u00e7a de Costela Bovina Black Angus. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta de molho especial de queijo tipo cheddar, sour cream e guacamole._\\n\\n*HAPPY HOUR*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (Happy Hour: R$ 7,45 / Normal: R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (Happy Hour: R$ 6,25 / Normal: R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (Happy Hour: R$ 19,50 / Normal: R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (Happy Hour: R$ 19,50 / Normal: R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (Happy Hour: R$ 21,50 / Normal: R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (Happy Hour: R$ 29,90 / Normal: R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (Happy Hour: R$ 17,50 / Normal: R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (Happy Hour: R$ 17,50 / Normal: R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (Happy Hour: R$ 12,50 / Normal: R$ 19,80)\\n- *COSTELINHA BARBECUE* (Happy Hour: R$ 76,50 / Normal: R$ 86,50)\\n  _Deliciosa costelinha su\\u00edna marinada no molho barbecue servida  com batata r\\u00fastica e salada caesar._\\n- *LINGUICINHA* (Happy Hour: R$ 58,50 / Normal: R$ 76,50)\\n  _Lingui\\u00e7a de Costela Bovina Black Angus 350g. Acompanha: farofa, vinagrete, maionese especial KHARINA e torradas._\\n- *NACHOS BIG* (Happy Hour: R$ 58,50 / Normal: R$ 67,50)\\n  _Por\\u00e7\\u00e3o de nachos com carne mo\\u00edda coberta com molho especial de queijo tipo cheddar, sour cream e guacamole._\\n- *CHICKEN CRISPY* (Happy Hour: R$ 34,50 / Normal: R$ 39,50)\\n  _Fil\\u00e9s de frango empanados acompanhados de maionese especial KHARINA._\\n- *KIBE FRITO* (Happy Hour: R$ 28,50 / Normal: R$ 34,50)\\n  _Acompanha delicioso molho especial de lim\\u00e3o._\\n- *MINI PAST\\u00c9IS* (Happy Hour: R$ 24,50 / Normal: R$ 29,50)\\n  _Carne, queijo ou misto. Acompanha deliciosa geleia de pimenta._\\n- *FRITAS BIG* (Happy Hour: R$ 42,50 / Normal: R$ 48,50)\\n  _Batata frita gratinada com queijo tipo cheddar, parmes\\u00e3o, prato e bacon._\\n- *CARPACCIO* (Happy Hour: R$ 44,50 / Normal: R$ 49,50)\\n  _Tradicional carpaccio temperado com molho de alcaparras, al\\u00e9m de r\\u00facula e queijo parmes\\u00e3o. Acompanha torradas._\\n- *HANDYMAN* (Happy Hour: R$ 44,50 / Normal: R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (Happy Hour: R$ 40,50 / Normal: R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER* (Happy Hour: R$ 39,50 / Normal: R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (Happy Hour: R$ 44,50 / Normal: R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLUB KHARINA* (Happy Hour: R$ 48,50 / Normal: R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB CHICKEN* (Happy Hour: R$ 47,50 / Normal: R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *CLUB ROCK* (Happy Hour: R$ 52,50 / Normal: R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n\\n*BEBIDAS*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (R$ 19,80)\\n- *SPATEN LONK NECK* (R$ 15,90)\\n  _Aut\\u00eantica cerveja puro malte alem\\u00e3, de sabor encorpado e amargor equilibrado._\\n- *GIN TROPICAL* (R$ 25,00)\\n  _Gin com xarope de manga picante, lichia e suco de lim\\u00e3o, finalizado com \\u00e1gua t\\u00f4nica, hortel\\u00e3 e uma rodela de lim\\u00e3o. Refrescante e equilibrado entre o c\\u00edtrico e o adocicado._\\n- *NEGRONI NAPOLE\\u00c3O* (R$ 33,90)\\n  _O Negroni de Napole\\u00e3o \\u00e9 uma receita perfeita que combina xarope MONIN de p\\u00eassego, suco de lim\\u00e3o e hortel\\u00e3, resultando em um drink suave, irresist\\u00edvel e digno do imperador._\\n- *\\u00c1GUA MINERAL COM OU SEM G\\u00c1S* (R$ 7,50)\\n- *SUCO JARRA* (R$ 23,50)\\n  _Laranja ou limonada su\\u00ed\\u00e7a._\\n- *REFRIGERANTE 350ML* (R$ 9,00)\\n  _Coca-Cola, Coca-Cola Zero , Fanta Guaran\\u00e1, Fanta Guaran\\u00e1 Zero, Fanta Laranja, Sprite e T\\u00f4nica._\\n- *SODA ITALIANA* (R$ 13,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n- *SUCO COPO* (R$ 12,50)\\n  _Laranja, abacaxi, abacaxi e hortel\\u00e3, morango, maracuj\\u00e1, limonada su\\u00ed\\u00e7a e uva._\\n  _Obs: Adicional de leite: R$ 1,50_\\n- *CH\\u00c1 GELADO* (R$ 11,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n\\n*BURGER PRIME*\\n- *CLASSIC BURGER* (R$ 48,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CLASSIC BURGER BACON* (R$ 51,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, mix de folhas verdes, tomate e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *CHORIPAN KHARINA* (R$ 47,50)\\n  _P\\u00e3o crocante, lingui\\u00e7a de costela bovina black angus, queijo prato, maionese especial KHARINA e vinagrete._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HANDYMAN* (R$ 56,50)\\n  _P\\u00e3o crocante, 2 hamb\\u00fargeres black angus, queijo tipo cheddar derretido, cebola crispy, bacon e maionese especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *ROCK BURGER* (R$ 49,50)\\n  _P\\u00e3o crocante, 1 hamb\\u00farger black angus, queijo tipo cheddar derretido, bacon, cebola caramelizada e molho barbecue._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n- *HAMB\\u00daGUER VEGETARIANO* (R$ 49,50)\\n  _P\\u00e3o crocante, hamb\\u00farger produzido com a prote\\u00edna da ervilha, soja e gr\\u00e3o de bico, queijo tipo cheddar derretido, mix de folhas verdes, tomate e maionese vegana especial KHARINA._\\n  _Obs: Nossos PRIMES s\\u00e3o feitos com carnes nobres e 100% black angus. Todos acompanham fritas e maionese especial KHARINA._\\n\\n*BURGER TRADICIONAL*\\n- *CHEESE BURGER* (R$ 37,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE SALADA* (R$ 41,50)\\n  _P\\u00e3o brioche, hamb\\u00farger black angus, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO* (R$ 38,50)\\n  _P\\u00e3o brioche, delicioso frango grelhado, alface crespa, tomate, queijo prato e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE FRANGO CRISPY* (R$ 44,50)\\n  _P\\u00e3o brioche, delicioso fil\\u00e9 de frango empanado com farinha Panko, alface crespa, tomate, queijo prato e maionese de lim\\u00e3o com ervas finas._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n- *CHEESE MIGNON* (R$ 58,50)\\n  _P\\u00e3o brioche, delicioso grelhado de mignon, alface crespa, tomate, queijo prato, cebola e maionese especial KHARINA._\\n  _Obs: Nossos TRADICIONAIS s\\u00e3o feitos com carnes nobres e 100% black angus. Adicione fritas e maionese especial KHARINA extra por apenas 8 reais._\\n\\n*CL\\u00c1SSICOS*\\n- *CLUB KHARINA* (R$ 59,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *CLUB ROCK* (R$ 61,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *CLUB MIGNON* (R$ 68,50)\\n  _Suculento strogonoff de mignon, acompanhado de arroz branco e a insepar\\u00e1vel por\\u00e7\\u00e3o de batatas fritas._\\n- *CLUB CHICKEN* (R$ 56,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n\\n*EXECUTIVOS*\\n- *ESPETINHO DE MIGNON* (R$ 42,50)\\n  _Suculento fil\\u00e9 mignon intercalado com cebola assada at\\u00e9 a perfei\\u00e7\\u00e3o, tomate fresco e bacon grelhado. Acompanha arroz, farofa, vinagrete e banana \\u00e0 milanesa._\\n- *STEAK BLACK ANGUS KHARINA* (R$ 42,50)\\n  _Delicioso bife de steak black angus KHARINA com molho de mostarda ou de gorgonzola, acompanhado de arroz, feij\\u00e3o e batatas fritas._\\n- *STROGONOFF DE MIGNON* (R$ 42,50)\\n  _Suculento strogonoff de mignon, acompanhado de arroz branco e a insepar\\u00e1vel por\\u00e7\\u00e3o de batatas fritas._\\n- *GNOCCHI DOS DEUSES* (R$ 42,50)\\n  _Delicioso gnocchi caseiro servido com ragu de costela bovina desfiada e manjeric\\u00e3o com lascas de queijo parmes\\u00e3o._\\n- *FRANGO \\u00c0 PARMEGIANA* (R$ 39,50)\\n  _Tradicional receita de fil\\u00e9 black angus empanado, coberto com queijo prato, parmes\\u00e3o e um especial molho de tomate e por fim, gratinado. Acompanha arroz._\\n  _Obs: Pode ser servido com pur\\u00ea de batatas, batatas fritas ou spaghetti alho e \\u00f3leo_\\n- *FILET \\u00c0 PARMEGIANA* (R$ 42,50)\\n  _Tradicional receita de fil\\u00e9 black angus empanado, coberto com queijo prato, parmes\\u00e3o e um especial molho de tomate e por fim, gratinado. Acompanha arroz._\\n  _Obs: Pode ser servido com pur\\u00ea de batatas, batatas fritas ou spaghetti alho e \\u00f3leo_\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        512
      ],
      "id": "91e533aa-0360-44df-abf9-4ec1bff3c73b",
      "name": "Londrina"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/{{ $json.whatsapp_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.whatsapp_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.number }}\", \"type\": \"text\", \"text\": {\"body\": \"*BEBIDAS*\\n- *CHOPP BRAHMA - CANECA CONGELADA* (R$ 14,90)\\n  _Delicioso chopp Brahma em caneca congelada a -40\\u00ba._\\n  _Obs: 350ml_\\n- *CHOPP BRAHMA - CALDERETA* (R$ 12,50)\\n  _Delicioso chopp Brahma em copo resfriado._\\n  _Obs: 300ml_\\n- *CAIPIRINHA VODKA* (R$ 25,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA CACHA\\u00c7A* (R$ 23,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *CAIPIRINHA SAQU\\u00ca* (R$ 26,50)\\n  _As caipirinhas s\\u00e3o preparadas com frutas frescas da esta\\u00e7\\u00e3o. Verifique com nossos atendentes as op\\u00e7\\u00f5es do dia._\\n- *MOSCOW MULE* (R$ 33,90)\\n  _Vodka, suco de lim\\u00e3o, gengibre e espuma de gengibre._\\n- *NEGRONI* (R$ 33,90)\\n  _O Negroni engarrafado da Draco \\u00e9 marcante e envolvente. Uma releitura secreta do coquetel centen\\u00e1rio, de origem italiana, leva Gin Draco London Dry, Bitter e Vermouth artesanal._\\n- *HAWAII SUNSET* (R$ 25,00)\\n  _Vodka, xarope MONIN sabor coco, suco de abacaxi e lim\\u00e3o espremido._\\n- *GINGERBERRY* (R$ 28,50)\\n  _Vodka, xarope MONIN sabor framboesa, xarope MONIN sabor gengibre, \\u00e1gua com g\\u00e1s e lim\\u00e3o espremido._\\n- *VINHO TINTO EM TA\\u00c7A* (R$ 19,80)\\n- *VINHO BRANCO EM TA\\u00c7A* (R$ 19,80)\\n- *SPATEN LONK NECK* (R$ 15,90)\\n  _Aut\\u00eantica cerveja puro malte alem\\u00e3, de sabor encorpado e amargor equilibrado._\\n- *GIN TROPICAL* (R$ 25,00)\\n  _Gin com xarope de manga picante, lichia e suco de lim\\u00e3o, finalizado com \\u00e1gua t\\u00f4nica, hortel\\u00e3 e uma rodela de lim\\u00e3o. Refrescante e equilibrado entre o c\\u00edtrico e o adocicado._\\n- *NEGRONI NAPOLE\\u00c3O* (R$ 33,90)\\n  _O Negroni de Napole\\u00e3o \\u00e9 uma receita perfeita que combina xarope MONIN de p\\u00eassego, suco de lim\\u00e3o e hortel\\u00e3, resultando em um drink suave, irresist\\u00edvel e digno do imperador._\\n- *\\u00c1GUA MINERAL COM OU SEM G\\u00c1S* (R$ 7,50)\\n- *SUCO JARRA* (R$ 23,50)\\n  _Laranja ou limonada su\\u00ed\\u00e7a._\\n- *REFRIGERANTE 350ML* (R$ 9,00)\\n  _Coca-Cola, Coca-Cola Zero , Fanta Guaran\\u00e1, Fanta Guaran\\u00e1 Zero, Fanta Laranja, Sprite e T\\u00f4nica._\\n- *SODA ITALIANA* (R$ 13,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\\n- *SUCO COPO* (R$ 12,50)\\n  _Laranja, abacaxi, abacaxi e hortel\\u00e3, morango, maracuj\\u00e1, limonada su\\u00ed\\u00e7a e uva._\\n  _Obs: Adicional de leite: R$ 1,50_\\n- *CH\\u00c1 GELADO* (R$ 11,50)\\n  _Cranberry, lim\\u00e3o, p\\u00eassego ou ma\\u00e7\\u00e3 verde._\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        720
      ],
      "id": "ed5990a7-2de6-43c4-9b7d-70d1f03fda50",
      "name": "Bebidas"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Curitiba",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sao Paulo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Londrina",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bebidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "city": "Curitiba",
          "number": "5511997269626",
          "whatsapp_token": "EAAXIv1bYCD8BQhZB0NC4riC0d9jTmxEwEODiiZAIERYK0iFK3NyaZA1UJQTuZAjWMLKBqVXMeUL4Am1ypAsN5jZC5fa20zFou5wyZB0yFZBaMGe6foow28ZClqmzVdrZAusBEBJenZB51HUXZC6CfJDAw9irtrkYn2WqkNftZAV2GywZBup1q6BycxbDCSIjY338uaAZDZD",
          "whatsapp_phone_id": "1007910339064845"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "cfc66459-30ad-4a34-881a-926ed650a5bd",
  "activeVersionId": "d68cd46b-0e1b-4dbc-be2e-d80898f05ba5",
  "versionCounter": 74,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-01T15:40:58.995Z",
      "createdAt": "2025-11-01T15:40:58.995Z",
      "role": "workflow:owner",
      "workflowId": "fQzO00WiTvItPLjP",
      "projectId": "OFYohD49gphPTkYf",
      "project": {
        "updatedAt": "2025-09-27T15:59:39.013Z",
        "createdAt": "2025-09-27T15:28:39.377Z",
        "id": "OFYohD49gphPTkYf",
        "name": "Kharina  Restaurante <admin@kharina.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a0aa474d-b7ee-446a-9a40-8e6d6ae99909"
      }
    }
  ]
}
