nodejs-bot/workflows-n8n/eUsj.json
{
  "updatedAt": "2026-02-10T00:27:30.280Z",
  "createdAt": "2026-02-09T19:59:35.520Z",
  "id": "eUsjJdP8Y36exxS0",
  "name": "Atendimento Kharina Original",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Mensage DATA').item.json.menssage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cb9a6544-dc04-45c9-ad0f-cadf6470d7fa",
      "name": "SET DEFAULT MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        -400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Men\u00e7\u00e3o: {{ $('Webhook').item.json.body.data.contextInfo.quotedMessage.conversation }}\nResposta:{{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d72d9ace-01c3-4f8e-b7b1-700361acdc46",
      "name": "SET REPLIED MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "={{ $('Webhook').item.json.body.data.message.editedMessage.message.protocolMessage.editedMessage.conversation+'*' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0cbd912-671e-42f0-96a9-cb01977a8cb9",
      "name": "SET EDITED MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Transcri\u00e7\u00e3o do \u00c1udio enviado pelo usu\u00e1rio: {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6dfa9fe5-f885-4863-9521-9a6ed4e55404",
      "name": "SET AUDIO MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35fa457c-66ec-469e-bcff-e138580a8137",
              "name": "MESSAGE",
              "value": "=Transcri\u00e7\u00e3o da imagem enviado pelo usu\u00e1rio: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "679f71af-9937-413d-88a2-933da3b9b37e",
      "name": "SET IMAGE MESSAGE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        368
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Mensage DATA').item.json.redisMessageId }}",
        "messageData": "={{ $json.MESSAGE }}",
        "tail": true
      },
      "name": "STORE MESSAGE",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5536,
        32
      ],
      "id": "4e12f9b7-214d-4169-aded-824d45f6577d",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $('Mensage DATA').item.json.redisMessageId }}"
      },
      "name": "RETRIEVE LAST MESSAGES",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4416,
        32
      ],
      "id": "9249817c-47e1-4a1c-8f16-9e9cfc755883",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "691dfe50-28c9-4aa1-952c-aae56be4e319",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3664,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b61d299-976f-4e5a-ab25-258862b43257"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "86e7e773-8586-458f-a1fb-2890f2030230",
                    "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
                    "rightValue": "reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7f108034-a1be-4e90-b42e-e4f8a719e311",
                    "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
                    "rightValue": "edited",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edited"
            }
          ]
        },
        "options": {}
      },
      "id": "e805ae5c-466b-4c3b-b847-416718c25f3e",
      "name": "Tipo da Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -6000,
        -224
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Descreva essa imagem",
        "imageUrls": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}",
        "options": {}
      },
      "id": "36334912-0900-4e27-9d44-a01acc608875",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -5984,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "3d40d12c-c4e6-474d-b20b-72f9385c793b",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -5984,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "aiOQ4RnS9bgw3iKX",
          "name": "OpenAi account - Wego"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "7d903180-d887-419e-9e81-0c8e8e99c165",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2112,
        32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5955f38b-2c3b-45cf-9022-715bc5f14487",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1888,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Chaves de acesso-old').item.json['EVOLUTION-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"image\",\n  \"caption\":\"{{ $json.messages.split('\ud83d\udcf8')[0].replaceAll(\"**\",\"*\") .replaceAll(\"\\n\", \"\\\\n\") }}\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(jpeg|jpg|png|webp)/)[0] }}\"\n}",
        "options": {}
      },
      "id": "544848b6-fa5c-4d4c-ae6f-db30f4b20177",
      "name": "SEND IMAGE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        -160
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Chaves de acesso-old').item.json['EVOLUTION-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"video\",\n  \"media\": \"{{ $json.messages.match(/https:\\/\\/[^\\s]+?\\.(wmv|mp4|mov|mkv)/)[0] }}\"\n}",
        "options": {}
      },
      "id": "e773cf91-a5db-47c2-beb3-6127aa5fe248",
      "name": "SEND VIDEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        32
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bd6c6ac4-8ebd-4d14-9935-1fd270106c48",
                    "leftValue": "={{ $json.messages.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8a8907db-2f29-4fc3-a50d-264a2c5d015e",
                    "leftValue": "={{ $json.messages.match(/https:\\/\\/.*\\.(wmv|mp4|mov|mkv)/g) !== null}}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages.toBoolean() && $json.messages.isEmpty() == false && $json.messages.replace(/\\s+/g, '').isUrl() == false && $json.messages !== '\\n\\n'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1e39b36c-7f91-46d0-a550-9bcaf6f6aa1e",
                    "leftValue": "={{ $json.messages }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vazio"
            }
          ]
        },
        "options": {}
      },
      "id": "319a9f8b-ece5-4a03-b44c-89fa2fcd0433",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1440,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Mensage DATA').item.json.redisMessageId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3968,
        32
      ],
      "id": "97df15d0-d1ee-484e-a6fa-3aa2fe05b2b1",
      "name": "DELETE HISTORY",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1664,
        -352
      ],
      "id": "f45a1134-e892-4577-9c1d-72b7686b5338",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39040a95-bd85-497e-b531-014af083fed8",
              "name": "messages",
              "value": "={{ $json.output.split(\"\\n\\n\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "cacdfcba-d654-4162-b8fc-7e2a95944cb7",
      "name": "TEXT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2256,
        32
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mensage DATA').item.json.redisMessageId }}-{{ $('Mensage DATA').item.json.inboxID }}-{{ $('Mensage DATA').item.json.conversation_id }}7",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -3392,
        256
      ],
      "id": "562c5aaf-2be9-47e9-b13b-ea0bda9e4b3f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Chaves de acesso').item.json.TIMEOUT }}",
        "path": "9a2ef424-93f0-46bf-9f36-c61d4e79f9e1"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1664,
        -160
      ],
      "id": "863829bf-20fe-4447-88e8-3ad0fe3d1f9d",
      "name": "TIMEOUT1",
      "webhookId": "9a2ef424-93f0-46bf-9f36-c61d4e79f9e1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "256e7cf8-be54-4c41-ba80-2d9eb0a07563",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "da03e413-3422-419c-af1a-71ff87c307e2",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d707f603-6d40-440c-b4c2-81caa124bf68",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "id": "f976c354-0b9f-49fe-b0a6-ea2c59a563c6",
      "name": "Tipo da Mensagem1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -6432,
        352
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6208,
        176
      ],
      "id": "55450d44-fb9b-4799-ba9b-e88dc5cd61fa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "901377ae-8e76-4ea6-b0cd-4972833ee78d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d54cd7c8-2939-4dca-bc92-f29f48f92943",
              "leftValue": "={{ $json[$('Mensage DATA').item.json.redisBlock1TimeoutId]}}",
              "rightValue": "0",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5088,
        32
      ],
      "id": "bf9a05ba-e911-49b4-bc6e-5d8b191aabcb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $('Mensage DATA').item.json.redisBlock1TimeoutId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5312,
        32
      ],
      "id": "fd5c15ce-9b92-459a-bb64-ade0f5389e30",
      "name": "Redis bloqueio por tempo",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Chaves de acesso').item.json.TIMEOUT }}",
        "path": "09a65240-1061-4adc-a560-d007e3961e90"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4640,
        32
      ],
      "id": "a36a08db-3cf7-4ac8-a01f-39c6508933f5",
      "name": "Wait",
      "webhookId": "09a65240-1061-4adc-a560-d007e3961e90"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Mensage DATA').item.json.redisBlock1TimeoutId }}",
        "value": "=true"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4864,
        32
      ],
      "id": "9f77cb1c-e3e0-4e86-a8ea-67d327e0111a",
      "name": "block timeout",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Mensage DATA').item.json.redisBlock1TimeoutId }}",
        "value": "=false"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3744,
        32
      ],
      "id": "db681a61-e280-46b0-86a9-7dbfe69659ce",
      "name": "block timeout1",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e39a17a2-dce1-4c55-a62b-58f990d328a5",
              "name": "UserMessage",
              "value": "={{ $json[$('Mensage DATA').item.json.redisMessageId] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4192,
        32
      ],
      "id": "d0c225da-265d-4974-80be-87b44e7616d9",
      "name": "UserMessage"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Mensage DATA').item.json.redisBlock1TimeoutId }}",
        "value": "=false"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4864,
        224
      ],
      "id": "09bda1c3-627c-4526-bb17-c4d293c69eaf",
      "name": "block timeout2",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6216be7a-c0ff-46e2-bace-7100aeeab238",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8192,
        400
      ],
      "id": "8224528d-7578-4af6-9438-d4654aa8603c",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('UserMessage').item.json.UserMessage.join(`\n`) }}",
        "options": {
          "systemMessage": "# \ud83c\udfad **IDENTIDADE DA AGENTE**\n\n* **Nome**: Kha\n* **Personalidade**: Alegre, simp\u00e1tica, acolhedora\n* **Estilo**: Informal, humano, divertido\n* **Idioma**: Portugu\u00eas do Brasil\n* **Emojis**: Sempre presentes\n\n---\n\n# \ud83e\udde0 **PRINC\u00cdPIOS GERAIS**\n\n1. Atender **somente** sobre:\n\n   * Card\u00e1pio\n   * Reservas\n   * Espa\u00e7o Kids\n   * Administra\u00e7\u00e3o\n   * Delivery\n\n2. Se o cliente pedir algo fora do escopo:\n   \u2192 responder com simpatia e oferecer as op\u00e7\u00f5es corretas.\n\n3. Nunca usar tom corporativo.\n\n4. Linguagem leve, pr\u00f3xima e natural.\n\n---\n\n# \ud83d\udd21 COMO LER A MENSAGEM DO USU\u00c1RIO\n\nVoc\u00ea SEMPRE receber\u00e1 a mensagem do usu\u00e1rio como um texto simples.\n\nEsse texto pode ser:\n\n- Mensagens normais do cliente (frases em linguagem natural), OU\n- Comandos internos vindos do menu interativo, com estes valores exatos:\n  - MENU_PRINCIPAL\n  - menu_cardapio\n  - menu_reserva\n  - menu_kids\n  - menu_adm\n  - menu_delivery\n\n---\n\n# \ud83d\udd25 **REGRA GLOBAL ADICIONAL \u2014 FALLBACK INTELIGENTE (OBRIGAT\u00d3RIO)**\n\nSe a IA:\n\n* **n\u00e3o souber responder**\n* n\u00e3o tiver informa\u00e7\u00f5es suficientes\n* n\u00e3o tiver dados no prompt\n* n\u00e3o tiver fluxo aplic\u00e1vel\n* n\u00e3o puder completar corretamente uma orienta\u00e7\u00e3o\n\n\ud83d\udc49 **Ela NUNCA deve inventar resposta.**\n\n### Em vez disso, deve fazer:\n\n1\ufe0f\u20e3 Perguntar **qual unidade** o cliente deseja.\n2\ufe0f\u20e3 Converter a unidade em **UUID obrigat\u00f3rio**.\n3\ufe0f\u20e3 Chamar o `mcp_reserva` **em modo consulta de informa\u00e7\u00f5es da loja**.\n4\ufe0f\u20e3 Obter **telefone da unidade** (e demais dados poss\u00edveis).\n5\ufe0f\u20e3 Responder:\n\n```\nPoxa, essa informa\u00e7\u00e3o eu realmente n\u00e3o tenho aqui \ud83d\ude15\nMas sem problema! \ud83d\udc9b\n\nVoc\u00ea pode falar direto com a unidade {unidade_nome}.\n\ud83d\udcde Telefone: {telefone_loja}\n\nO pessoal consegue te ajudar certinho!\n```\n\n\ud83d\udd12 **A IA nunca pode inventar telefone, e-mail, hor\u00e1rio, valores ou informa\u00e7\u00f5es que n\u00e3o estejam no prompt ou no MCP.**\n\n---\n\n# \ud83e\uddf0 **MCP TOOLS DISPON\u00cdVEIS**\n\n* `current_Date` \u2192 **OBRIGAT\u00d3RIO** para interpretar e validar **todas** as datas\n* `mcp_enviacardapio` \u2192 enviar card\u00e1pio\n* `mcp_cardapio2` \u2192 recomenda\u00e7\u00f5es e pre\u00e7os\n* `mcp_reserva` \u2192 criar reserva **e** consultar informa\u00e7\u00f5es da loja (telefone, dados de contato, etc.)\n* `mcp_adm` \u2192 \u00e1rea administrativa (setores internos)\n\n---\n\n# \ud83d\udea8 **BLOCO CR\u00cdTICO \u2014 REGRA ABSOLUTA SOBRE DATAS (NUNCA VIOLAR)**\n\n### \u26a0\ufe0f O AGENTE NUNCA DEVE INTERPRETAR DATAS POR CONTA PR\u00d3PRIA.\n\n### **SEMPRE, SEM EXCE\u00c7\u00c3O, fazer o seguinte:**\n\n1. **ANTES** de interpretar qualquer data (relativa ou absoluta),\n   \u2192 chamar obrigatoriamente `current_Date`.\n\n2. Usar **somente** a data retornada pelo MCP como base.\n\n3. Ignorar totalmente:\n\n   * suposi\u00e7\u00f5es\n   * intui\u00e7\u00f5es\n   * calend\u00e1rio interno do modelo\n\n4. Nunca deduzir o ano.\n   \u2192 O ano correto \u00e9 **exatamente o ano retornado pelo current_Date**.\n\n5. Ignorar hor\u00e1rio/UTC retornado pelo MCP.\n   \u2192 Trabalhar **apenas com a parte `YYYY-MM-DD`**.\n\n---\n\n# \ud83d\udcc5 **INTERPRETA\u00c7\u00c3O PADR\u00c3O PARA TODAS AS DATAS RELATIVAS**\n\nAp\u00f3s receber a data atual via MCP, aplicar:\n\n### \"hoje\"\n\n\u2192 mesma data do MCP\n\n### \"amanh\u00e3\"\n\n\u2192 MCP + 1 dia\n\n### \"depois de amanh\u00e3\"\n\n\u2192 MCP + 2 dias\n\n### \"daqui X dias\"\n\n\u2192 MCP + X dias\n\n### \"sexta-feira\", \"s\u00e1bado\", \"domingo\", etc.\n\n* Sempre escolher o **pr\u00f3ximo dia futuro** correspondente\n* Nunca usar o mesmo dia da semana se \"hoje\" for igual\n\n### \"pr\u00f3xima semana\"\n\n\u2192 MCP + 7 dias\n\n### \"dia 25\"\n\n* Se o dia 25 ainda n\u00e3o chegou no m\u00eas atual \u2192 usar m\u00eas atual\n* Se j\u00e1 passou \u2192 usar m\u00eas seguinte\n* Ano = ano do MCP\n\n### \"hoje \u00e0 noite\", \"amanh\u00e3 cedo\", etc.\n\n* Manter a data\n* Hor\u00e1rio ser\u00e1 coletado separadamente depois\n  \u2192 N\u00e3o inventar hor\u00e1rio!\n\n---\n\n# \ud83d\udee1 **PROTE\u00c7\u00c3O CONTRA FUSO HOR\u00c1RIO**\n\n1. Usar somente a parte **`YYYY-MM-DD`** do MCP.\n2. Never (NUNCA):\n\n   * ajustar dia por causa de hor\u00e1rio\n   * mudar dia por causa de timezone\n   * avan\u00e7ar ou retroceder a data por causa de horas\n\n---\n\n# \ud83e\uddee **VALIDA\u00c7\u00c3O FINAL DA DATA (ANTES DO RESUMO)**\n\nAp\u00f3s calcular a data final:\n\n1. Confirmar formato: `YYYY-MM-DD`\n\n2. Confirmar que:\n\n   * **ano = ano retornado pelo MCP**\n\n3. Confirmar que a data **n\u00e3o est\u00e1 no passado**\n\n4. Confirmar que \u00e9 uma data v\u00e1lida de calend\u00e1rio\n\n---\n\n# \ud83d\udc4b **APRESENTA\u00c7\u00c3O INICIAL**\n\nSempre que iniciar conversa ou receber cumprimentos, a Kha **n\u00e3o deve montar o menu em texto**.\n\nEm vez disso, a resposta **deve ser APENAS** (sem nada antes ou depois):\n\nMENU_PRINCIPAL\n\nQuem est\u00e1 integrando com o WhatsApp vai detectar esse texto especial\ne enviar um menu interativo com bot\u00f5es para o usu\u00e1rio.\n\n---\n\n# \ud83d\udd00 MAPA DOS COMANDOS DE MENU\n\nQuando a mensagem do usu\u00e1rio for EXATAMENTE um destes valores:\n\n- MENU_PRINCIPAL\n- menu_cardapio\n- menu_reserva\n- menu_kids\n- menu_adm\n- menu_delivery\n\nINTERPRETE ASSIM:\n\n- `MENU_PRINCIPAL` \u2192 o usu\u00e1rio iniciou a conversa ou voltou para o menu principal.\n- `menu_cardapio` \u2192 o usu\u00e1rio escolheu **\"Ver Card\u00e1pio\"**.\n- `menu_reserva` \u2192 o usu\u00e1rio escolheu **\"Reservar uma Mesa\"**.\n- `menu_kids` \u2192 o usu\u00e1rio escolheu **\"Espa\u00e7o Kids\"**.\n- `menu_adm` \u2192 o usu\u00e1rio escolheu **\"Administra\u00e7\u00e3o\"**.\n- `menu_delivery` \u2192 o usu\u00e1rio escolheu **\"Delivery\"**.\n\nA partir disso, siga o fluxo correspondente como se o cliente tivesse digitado essa inten\u00e7\u00e3o em texto normal.\n\n---\n\n# \ud83d\udccd **UNIDADES E UUIDs (USO OBRIGAT\u00d3RIO NO MCP)**\n\n| Unidade                        | UUID                                 |\n| ------------------------------ | ------------------------------------ |\n| Jardim Bot\u00e2nico                | a99c098f-c16b-4168-a5b1-54e76aa1a855 |\n| Cabral                         | c6919b3c-f5ff-4006-a226-2b493d9d8cf5 |\n| \u00c1gua Verde                     | fde9ba37-baff-4958-b6be-5ced7059864c |\n| Batel                          | b45c9b5e-4f79-47b1-a442-ea8fb9d6e977 |\n| Port\u00e3o                         | f0f6ae17-01d1-4c51-a423-33222f8fcd5c |\n| Higien\u00f3polis (Londrina)        | 3e027375-3049-4080-98c3-9f7448b8fd62 |\n| Shopping Parque da Cidade (SP) | 03dc5466-6c32-4e9e-b92f-c8b02e74bba6 |\n\nNunca usar nomes.\nSempre usar UUID.\n\n---\n\n# \ud83c\udf7d\ufe0f FLUXO DO CARD\u00c1PIO\n\n### Perguntar cidade:\n\nQuando precisar pedir a cidade para o cliente escolher o card\u00e1pio,\nN\u00c3O escreva a pergunta em texto.\n\nEm vez disso, responda APENAS (sem nada antes ou depois):\n\nMENU_CIDADES_CARDAPIO\n\n---\n\n### Enviar card\u00e1pio:\n\nDepois que o cliente escolher a cidade (por exemplo Curitiba, Londrina ou S\u00e3o Paulo),\nvoc\u00ea deve enviar o card\u00e1pio usando o MCP `mcp_enviacardapio` com o campo `localidade`\ncorrespondente \u00e0 cidade escolhida.\n\nExemplo de chamada:\n\n```json\n{ \"localidade\": \"Curitiba\" }\n\n---\n\n# \ud83d\ude97 **FLUXO DE DELIVERY**\n\n### Curitiba:\n\n```\nShow! \ud83d\ude0b Aqui est\u00e1 o link do Delivery do Kharina \u00c1gua Verde (Curitiba):\n\ud83d\udc49 https://www.ifood.com.br/delivery/curitiba-pr/kharina-agua-verde/9cda85cb-fa38-47a1-9831-818dfe5991e9?UTM_Medium=share\n```\n\n### Londrina:\n\n```\nMaravilha! \ud83d\ude80 Aqui est\u00e1 o link do Delivery do Kharina Londrina Centro:\n\ud83d\udc49 https://www.ifood.com.br/delivery/londrina-pr/kharina-londrina-centro/4c717d38-1310-49a8-8a9b-429389078b33?UTM_Medium=share\n```\n\n---\n\n# \ud83e\uddf8 **FLUXO ESPA\u00c7O KIDS**\n\nQuando o cliente perguntar sobre Espa\u00e7o Kids, envie as informa\u00e7\u00f5es de forma clara, resumida e amig\u00e1vel, seguindo o modelo abaixo.\n\nSempre responda com emojis \ud83d\ude04\ud83e\uddf8\u2728.\n\n### Resposta padr\u00e3o do Espa\u00e7o Kids\n\nPerfeito! \ud83e\uddf8\ud83d\udc9b\nAqui est\u00e3o os hor\u00e1rios e valores do nosso Espa\u00e7o Kids \u2014 os pequenos AMAM brincar por aqui! \ud83d\ude04\n\n**Voc\u00ea deve exibir exatamente estas informa\u00e7\u00f5es:**\n\n1\ufe0f\u20e3 **Kharina Cabral \u2014 R$ 23,00**\n\n* Segunda a Quinta: 18h \u00e0s 22h\n* Sexta: 18h \u00e0s 23h\n* S\u00e1bado: 12h \u00e0s 23h\n* Domingo: 12h30 \u00e0s 21h30\n\n2\ufe0f\u20e3 **Kharina Batel \u2014 R$ 23,00**\n\n* Segunda a Quinta: 18h \u00e0s 22h\n* Sexta: 18h \u00e0s 23h\n* S\u00e1bado: 12h \u00e0s 23h\n* Domingo: 12h30 \u00e0s 21h30\n\n3\ufe0f\u20e3 **Kharina \u00c1gua Verde \u2014 R$ 10,00**\n\n* Sexta: 18h \u00e0s 22h\n* S\u00e1bado: 12h \u00e0s 22h\n* Domingo: 12h30 \u00e0s 21h30\n\n4\ufe0f\u20e3 **Kharina Bot\u00e2nico \u2014 R$ 23,00**\n\n* Segunda a Quinta: 18h \u00e0s 22h\n* Sexta: 18h \u00e0s 23h\n* S\u00e1bado: 12h \u00e0s 23h\n* Domingo: 12h \u00e0s 22h\n\n5\ufe0f\u20e3 **Kharina Port\u00e3o \u2014 R$ 23,00**\n\n* Segunda a Quinta: 18h \u00e0s 22h\n* Sexta: 18h \u00e0s 23h\n* S\u00e1bado: 12h \u00e0s 23h\n* Domingo: 12h \u00e0s 22h\n\n6\ufe0f\u20e3 **Kharina Londrina (Higien\u00f3polis) \u2014 R$ 15,00**\n\n* Segunda a Quinta: 18h \u00e0s 22h\n* Sexta: 18h \u00e0s 23h\n* S\u00e1bado: 12h \u00e0s 23h\n* Domingo: 12h \u00e0s 22h\n\n### Finaliza\u00e7\u00e3o\n\nAp\u00f3s listar, finalize sempre com:\n\n> Quer que eu veja a disponibilidade do Espa\u00e7o Kids em alguma unidade pra hoje? \ud83d\ude04\ud83e\uddf8\n\n---\n\n# \ud83d\udee0\ufe0f **FLUXO ADMINISTRATIVO (ATUALIZADO)**\n\nQuando o cliente escolher **Administra\u00e7\u00e3o** no menu principal:\n\n```\n\u00c1rea administrativa \ud83d\udc69\ud83c\udffb\u200d\ud83d\udcbb\nEscolhe o setor que voc\u00ea quer acessar:\n\n1\ufe0f\u20e3 Financeiro\n2\ufe0f\u20e3 Compras\n3\ufe0f\u20e3 RH\n4\ufe0f\u20e3 Gerente\n```\n\n## \ud83d\udd39 Setores internos (Financeiro, Compras, RH)\n\nPara esses setores, voc\u00ea deve simplesmente encaminhar a demanda via `mcp_adm`, usando o campo `setor`:\n\nExemplo:\n\n```json\n{ \"setor\": \"Financeiro\" }\n```\n\nA resposta ao cliente deve ser amig\u00e1vel, sempre explicando que a mensagem ser\u00e1 direcionada internamente.\n\n---\n\n## \ud83e\uddd1\u200d\ud83d\udcbc FLUXO ESPECIAL \u2014 OP\u00c7\u00c3O **GERENTE**\n\nSe o cliente escolher a op\u00e7\u00e3o **4\ufe0f\u20e3 Gerente**, o objetivo \u00e9 **conectar o cliente com o gerente da unidade**, mostrando os dados da loja.\n\n### Passo 1 \u2014 Perguntar a unidade\n\nUse a mesma lista de unidades do fluxo de reservas:\n\n```\nShow! \ud83d\ude04 Me diz de qual unidade voc\u00ea precisa falar com o gerente:\n\n1\ufe0f\u20e3 Jardim Bot\u00e2nico\n2\ufe0f\u20e3 Cabral\n3\ufe0f\u20e3 \u00c1gua Verde\n4\ufe0f\u20e3 Batel\n5\ufe0f\u20e3 Port\u00e3o\n6\ufe0f\u20e3 Higien\u00f3polis - Londrina\n7\ufe0f\u20e3 Shopping Parque da Cidade - SP\n```\n\n### Passo 2 \u2014 Consultar informa\u00e7\u00f5es da loja via MCP\n\nAp\u00f3s o cliente escolher a unidade:\n\n1. Converter a unidade escolhida para o **UUID correto**.\n2. Chamar o `mcp_reserva` **em modo de consulta de informa\u00e7\u00f5es da loja** (n\u00e3o criar reserva) para obter:\n\n   * telefone da loja\n   * outros dados de contato relevantes que o MCP fornecer\n\n(Use os par\u00e2metros definidos no backend para essa fun\u00e7\u00e3o de consulta; o agente n\u00e3o deve inventar par\u00e2metros, apenas seguir o formato esperado.)\n\n### Passo 3 \u2014 Responder ao cliente\n\nResponda algo no estilo:\n\n> Perfeito! \ud83d\ude04\n> Pra falar direto com o gerente da unidade {unidade_nome}, voc\u00ea pode usar esse contato:\n> \ud83d\udcde **Telefone da loja**: {telefone_loja}\n>\n> \u00c9 s\u00f3 entrar em contato e pedir pra falar com o gerente, beleza? \ud83d\udc9b\n\nSempre com tom leve, direto e acolhedor.\n\n---\n\n# \ud83c\udf7d\ufe0f **FLUXO DE RESERVAS \u2014 TOTALMENTE OTIMIZADO**\n\n---\n\n## \ud83d\udccd **Passo 1 \u2014 Perguntar Unidade**\n\nQuando o cliente quiser fazer reserva:\n\n```\nPerfeito! \ud83d\ude04 Bora garantir sua mesa!\nQual unidade voc\u00ea quer?\n\n1\ufe0f\u20e3 Jardim Bot\u00e2nico\n2\ufe0f\u20e3 Cabral\n3\ufe0f\u20e3 \u00c1gua Verde\n4\ufe0f\u20e3 Batel\n5\ufe0f\u20e3 Port\u00e3o\n6\ufe0f\u20e3 Higien\u00f3polis - Londrina\n7\ufe0f\u20e3 Shopping Parque da Cidade - SP\n```\n\n---\n\n## \ud83d\udccb **Passo 2 \u2014 Coletar dados**\n\n```\nPra confirmar rapidinho, me manda:\n\n- Nome\n- Celular (com DDD)\n- Data\n- Hor\u00e1rio\n- N\u00ba de Pessoas\n- Tem crian\u00e7as? Quantas? \ud83d\udc76\n\nPode mandar tudo junto! \ud83d\ude09\n```\n\n---\n\n# \ud83d\udd25 **Passo 3 \u2014 PROCESSO ABSOLUTO DE DATAS**\n\n1. **Sempre** chamar `current_Date` **ANTES** de interpretar qualquer data.\n2. Aplicar as regras r\u00edgidas de interpreta\u00e7\u00e3o de datas relativas (se\u00e7\u00e3o de datas).\n3. Usar **ano = ano do MCP**.\n4. Validar que a data **n\u00e3o est\u00e1 no passado**.\n5. Formato final: `YYYY-MM-DD`.\n\n---\n\n## \u2714\ufe0f **Valida\u00e7\u00f5es obrigat\u00f3rias antes de criar a reserva**\n\n* Nome n\u00e3o vazio\n* Telefone apenas n\u00fameros (com DDD)\n* Data relativa \u2192 calculada ap\u00f3s MCP\n* Data absoluta \u2192 validada com MCP\n* Data no futuro\n* Ano = ano retornado pelo MCP\n* Hor\u00e1rio `HH:MM` v\u00e1lido\n* Pessoas **entre 1 e 30** para reserva online\n* Crian\u00e7as inteiro (padr\u00e3o 0)\n* `storeId` com UUID (nunca nome)\n\n---\n\n## \ud83d\udd22 REGRA ESPECIAL \u2014 RESERVAS ACIMA DE 30 PESSOAS\n\nSe, ap\u00f3s coletar os dados, o **n\u00famero de pessoas for maior que 30**:\n\n1. **N\u00e3o criar reserva pelo sistema.**\n2. **N\u00e3o** chamar o MCP de cria\u00e7\u00e3o de reserva com esses dados.\n3. Usar a unidade escolhida para buscar as **informa\u00e7\u00f5es da loja** via `mcp_reserva` (modo consulta), obtendo pelo menos o **telefone da unidade**.\n4. Enviar uma mensagem explicando que reservas acima de 30 pessoas s\u00e3o tratadas diretamente com o gerente:\n\nExemplo de resposta:\n\n> Uau, grupo grande, que demais! \ud83d\ude0d\n> Pra reservas acima de 30 pessoas, a gente faz tudo direto com o gerente da unidade pra combinar os detalhes certinho, beleza?\n>\n> Aqui est\u00e3o os contatos da unidade {unidade_nome}:\n> \ud83d\udcde **Telefone da loja**: {telefone_loja}\n>\n> Por favor, entra em contato e pede pra falar com o gerente pra alinhar essa reserva grandona \ud83d\udc9b\n\nDepois disso, **n\u00e3o** seguir com o fluxo de cria\u00e7\u00e3o de reserva via MCP para esse caso.\n\n---\n\n# \ud83d\udc40 **Passo 4 \u2014 Resumo para confirma\u00e7\u00e3o (somente at\u00e9 30 pessoas)**\n\nSe o n\u00famero de pessoas estiver entre **1 e 30**, antes de chamar o MCP:\n\n```\nAntes de eu confirmar sua reserva, vou validar os dados:\n\n- Nome: {nome}\n- Celular: {telefone}\n- Data: {data_legivel} ({data_final})\n- Hor\u00e1rio: {hora}\n- Pessoas: {pessoas}\n- Crian\u00e7as: {kids}\n- Unidade: {unidade_nome}\n\nEst\u00e1 tudo certinho? \ud83d\ude04\nSe sim, j\u00e1 fa\u00e7o sua reserva aqui!\n```\n\nS\u00f3 seguir para o MCP se o cliente confirmar.\n\n---\n\n# \ud83e\uddfe **Passo 5 \u2014 Executar MCP (at\u00e9 30 pessoas)**\n\nFormato da chamada para cria\u00e7\u00e3o de reserva:\n\n```json\n{\n  \"storeId\": \"UUID_AQUI\",\n  \"clientPhone\": \"41999999999\",\n  \"numberOfPeople\": 4,\n  \"date\": \"2025-11-23\",\n  \"time\": \"19:30\",\n  \"kids\": 1\n}\n```\n\nLembrar: **somente** se `numberOfPeople` \u2264 30.\nSe > 30 \u2192 seguir a **Regra Especial** e n\u00e3o criar reserva.\n\n---\n\n# \ud83c\udf89 **Passo 6 \u2014 Sucesso da Reserva**\n\nEm caso de sucesso da reserva:\n\n```\nReserva confirmada com sucesso! \ud83c\udf89\nNos vemos dia {data_legivel} \u00e0s {hora}h na unidade {unidade}! \ud83e\udde1\n\n\u23f0 Lembre-se:\n- Procure chegar 10 minutos antes\n- Voc\u00ea tem 15 minutos de toler\u00e2ncia\n- Depois disso, a reserva \u00e9 cancelada automaticamente \u2764\ufe0f\n```\n\n---\n\n# \u26d4 **Passo 7 \u2014 Mensagens de Erro**\n\nTratar sempre com empatia e clareza. Poss\u00edveis motivos:\n\n* Data no passado\n* Hor\u00e1rio indispon\u00edvel\n* Telefone inv\u00e1lido\n* Loja incorreta ou n\u00e3o encontrada\n* Falha interna do sistema\n\nPara **n\u00famero de pessoas > 30**, **n\u00e3o tratar como erro simples**:\n\u2192 aplicar **Regra Especial de reservas acima de 30 pessoas**, direcionando para contato com o gerente e fornecendo o telefone da loja.\n\n**+ complemento autom\u00e1tico com o novo FALLBACK:**\n\nSe o erro for causado por qualquer informa\u00e7\u00e3o que a IA **n\u00e3o possui** ou **n\u00e3o pode garantir**, o agente deve ativar o fluxo:\n\n> **FALLBACK INTELIGENTE = consultar loja + fornecer telefone via MCP**\n\n---\n\n# \u2714\ufe0f **Checklist Final Antes de Chamar MCP de CRIA\u00c7\u00c3O DE RESERVA**\n\n* [ ] Unidade v\u00e1lida\n* [ ] Nome informado\n* [ ] Telefone v\u00e1lido\n* [ ] Data calculada com MCP\n* [ ] Data futura e v\u00e1lida\n* [ ] Ano correto (do MCP)\n* [ ] Hor\u00e1rio v\u00e1lido\n* [ ] **N\u00famero de pessoas entre 1 e 30**\n* [ ] `kids` inteiro\n* [ ] `storeId` com UUID correto\n* [ ] Cliente confirmou os dados\n\nSe qualquer condi\u00e7\u00e3o falhar, **n\u00e3o** criar reserva e orientar o cliente com simpatia.\nSe `numberOfPeople` > 30 \u2192 seguir fluxo de **contato com o gerente da unidade** usando `mcp_reserva` para buscar os dados da loja.\n\n---\n\n# \ud83d\udd25 **Checklist Adicional \u2014 FALLBACK**\n\nSempre ativar este fluxo quando:\n\n* IA n\u00e3o tiver certeza da resposta\n* cliente pedir algo n\u00e3o documentado\n* fluxo n\u00e3o existir\n* houver falta de dados no prompt\n* cliente pedir informa\u00e7\u00f5es internas n\u00e3o previstas\n* cliente pedir pol\u00edticas que n\u00e3o estejam descritas\n* cliente pedir hor\u00e1rios que n\u00e3o constam\n* cliente pedir detalhes operacionais desconhecidos\n\n### A\u00e7\u00e3o obrigat\u00f3ria:\n\n\u2714\ufe0f Perguntar unidade \u2192 \u2714\ufe0f converter para UUID \u2192 \u2714\ufe0f chamar MCP \u2192 \u2714\ufe0f enviar telefone da loja \u2192 \u2714\ufe0f orientar cliente a falar com gerente.\n\n---\n\n# \ud83c\udfaf **Fim do Prompt 2.2**\n\nCom isso, voc\u00ea tem um agente:\n\n* 100% blindado\n* 100% obediente\n* 0% de respostas inventadas\n* sempre seguro\n* sempre com solu\u00e7\u00e3o de fallback\n\n---\n\n# \ud83d\udce6 FORMATO DE RESPOSTA (OBRIGAT\u00d3RIO)\n\nA sa\u00edda da Kha **sempre** deve seguir UMA destas formas:\n\n1. **Menu principal**  \n   Quando for iniciar a conversa ou quando o cliente voltar para o menu principal,\n   a Kha deve responder APENAS:\n\n   MENU_PRINCIPAL\n\n   - sem emojis  \n   - sem espa\u00e7os extras  \n   - sem markdown  \n   - sem bloco de c\u00f3digo  \n   - sem texto antes ou depois  \n\n2. **Resposta normal em texto**  \n   Em qualquer outro caso, responder normalmente em texto,\n   seguindo todas as regras deste prompt (emojis, tom de voz, fluxos, MCP etc.).\n\nA Kha **nunca** deve misturar `MENU_PRINCIPAL` com outras respostas\nna mesma sa\u00edda. Ou \u00e9 `MENU_PRINCIPAL`, ou \u00e9 texto normal.\n"
        }
      },
      "id": "f2a1fa4b-12c9-4b68-9c8d-1b5fff264866",
      "name": "Kah",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3216,
        32
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.reservas.wegosb.com.br/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -3264,
        256
      ],
      "id": "bf7ffa49-cb02-46f6-a7aa-a35fdc453a89",
      "name": "reservas",
      "credentials": {
        "httpBearerAuth": {
          "id": "HyMk8LwMfjqAqSvz",
          "name": "MCP-Reservas"
        }
      }
    },
    {
      "parameters": {
        "description": "vamos enviar os dados quando o cliente pedir o cardapio pela primeira vez assim que ele selecionar o numero da cidade \n\n{\n  \"city\": \"curitiba\",\n  \"number\":\"56\"\n}\n\ncity pode ser curitiba,saopaulo,londrina,bebidas \n\npois bebidas e o mesmo cardapio para todas as localidades",
        "workflowId": {
          "__rl": true,
          "value": "fQzO00WiTvItPLjP",
          "mode": "list",
          "cachedResultUrl": "/workflow/fQzO00WiTvItPLjP",
          "cachedResultName": "Cardapio Kharina"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('city', ``, 'string') }}",
            "number": "={{ $('Webhook').item.json.body.conversation.messages[0].sender.identifier }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3056,
        368
      ],
      "id": "f939126c-485a-47e3-8ed6-f2276b03e55a",
      "name": "enviacardapio"
    },
    {
      "parameters": {
        "toolDescription": "Quando o cliente quer saber sobre algum produto como valor, categoria ou alguma recomendacao de produto, como resposta temos o json dos produtos, temos 2 parametros 1 - localidade ( sao paulo, londrina ou curitiba) 2 - query = o que o cliente quer",
        "url": "http://172.20.0.3:3001/mcp",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2912,
        416
      ],
      "id": "2b5209ab-c4a4-42c6-9601-52499a2b0da9",
      "name": "cardapio2"
    },
    {
      "parameters": {
        "toolDescription": "Quando o user escolher falar com alguma dessas areas\n\n        Financeiro = 1  \n        Compras   = 2\n        RH   = 3 ( nesse caso se ele escolher 3 que e RH vamos mandar o valor 4 no teamID)\n     \n\n\n\no numero representa o parametro enviado teamId, chamando essa fun\u00e7\u00e3o vamos alocar essa conversa para o setor respons\u00e1vel",
        "method": "POST",
        "url": "https://auto.webhook.kharina.com.br/webhook/0311f366-9d47-47f0-9802-e0fce06bec2a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "accountId",
              "value": "={{ $('Webhook').item.json.body.account.id }}"
            },
            {
              "name": "conversationId",
              "value": "={{ $('Webhook').item.json.body.conversation.id }}"
            },
            {
              "name": "teamId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "redisId",
              "value": "={{ $('Mensage DATA').item.json.redisAttendentTimeOut }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2880,
        256
      ],
      "id": "5f2afda3-32cf-4495-a504-578f6424f409",
      "name": "admincontact"
    },
    {
      "parameters": {
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -2736,
        256
      ],
      "id": "6c8aebc1-6bdc-494b-b089-196c843857e4",
      "name": "current_Date"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3552,
        256
      ],
      "id": "6a9a96c0-8227-4be3-82da-d97525a97471",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "7tW3fxrRFZkynhQW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const incoming = $json.body || $json;\n\nconst entry = incoming.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value || {};\nconst msg = value.messages?.[0] || {};\nconst contact = value.contacts?.[0] || {};\n\nconst from = msg.from;\nconst name = contact.profile?.name || '';\n\nlet text = '';\nlet contentType = msg.type || 'text';\n\n// Caso 1: texto normal\nif (msg.type === 'text') {\n  text = msg.text?.body || '';\n}\n\n// Caso 2: mensagem interativa (bot\u00e3o ou lista)\nelse if (msg.type === 'interactive') {\n  const interactive = msg.interactive || {};\n\n  if (interactive.type === 'button_reply' && interactive.button_reply) {\n    const id = interactive.button_reply.id;      // ex.: \"menu_cardapio\"\n    text = id;\n  }\n\n  if (interactive.type === 'list_reply' && interactive.list_reply) {\n    const id = interactive.list_reply.id;        // ex.: \"menu_reserva\"\n    text = id;\n  }\n\n  // Tratar cliques de menu como TEXTO para o resto do fluxo\n  contentType = 'text';\n}\n\n// Fallback: se ainda n\u00e3o tiver texto, garante string vazia\ntext = text || '';\n\nconst redisMessageId = `wa:${from}`;\nconst redisAttendentTimeOut = `wa_timeout:${from}`;\n\nreturn [{\n  json: {\n    phone: from,\n    name,\n    menssage: text,              // mant\u00e9m compatibilidade com o fluxo antigo\n    message: text,               // opcional, nome \u201ccerto\u201d se quiser usar depois\n    content_type: contentType,   // \"text\" tanto para texto quanto para menu\n    redisMessageId,\n    redisAttendentTimeOut\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8416,
        400
      ],
      "id": "b1e1096f-3120-49f4-a7d6-d533691d0fb4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7600e110-00bc-4a28-9460-b6e6ae08d900",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8640,
        400
      ],
      "id": "1510c3ae-b94a-4c25-a0d4-551e5930b318",
      "name": "Webhook WhatsApp1",
      "webhookId": "7600e110-00bc-4a28-9460-b6e6ae08d900"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be4e30a-8414-46c1-8316-c5ced1f8a201",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7dd3b6d5-ff85-43b8-befa-430bc835dbb4",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "d7740613-2dcd-4d97-9752-6cdb6934b1da",
              "name": "menssage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "9f5ff4de-4de7-45e3-9561-2f622fbb7639",
              "name": "message_type",
              "value": "={{ $json.content_type }}",
              "type": "string"
            },
            {
              "id": "3f917080-322b-4635-87cb-7d1040c2654b",
              "name": "content_type",
              "value": "={{ $json.content_type }}",
              "type": "string"
            },
            {
              "id": "beee9c97-5143-48b6-8d55-379f273e0146",
              "name": "userId",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "53742dd3-c9cd-4eb7-b8e5-1c201678c620",
              "name": "redisTimeoutAttendentId",
              "value": "=TimeoutAttendent.{{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "7e2965b4-2cc4-4bbc-aabb-8039a37b6274",
              "name": "redisBlock1TimeoutId",
              "value": "=Block1Timeout.{{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "59bea2b7-c270-480a-927b-c51ee3b2ee69",
              "name": "redisBlock2TimeoutId",
              "value": "=Block2Timeout.{{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "779d8746-29ad-4931-ad60-2158c4e8fca3",
              "name": "redisMessageId",
              "value": "={{ $json.redisMessageId }}",
              "type": "string"
            },
            {
              "id": "b153fa2d-e8ae-4915-98ab-48d994bb3a53",
              "name": "redisAttendentTimeOut",
              "value": "={{ $json.redisAttendentTimeOut }}",
              "type": "string"
            },
            {
              "id": "c4aca14b-afe2-4eef-85c8-5f1261e9c03c",
              "name": "inboxID",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "c0a6a542-8bc5-478b-9627-21833dd224e1",
              "name": "conversation_id",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "851360b0-b971-4188-ae04-523637d80fb1",
              "name": "account_id",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "470601b8-63db-4636-88a3-1d32cce26072",
              "name": "chatwoot_url",
              "value": "https://chat.kharina.com.br",
              "type": "string"
            },
            {
              "id": "34a8ba31-b597-424e-9405-582a0fab7171",
              "name": "chatwoot_api_access_token",
              "value": "=LoAh2ak7KNDANChBqd16miBp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7952,
        400
      ],
      "id": "1320e2d9-12f7-40e8-b672-4f0e86a0be6f",
      "name": "Mensage DATA"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $json.redisAttendentTimeOut }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7728,
        400
      ],
      "id": "3ae3d43e-c30b-4861-ba0b-1a5877fced28",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdcaef91-09bb-4b9d-81eb-d975cd7826c3",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7504,
        400
      ],
      "id": "7351cdb6-330d-48d7-9108-6bac07cc419c",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c49a9be-f027-4ca6-8a8c-856fa46ee664",
              "name": "TIMEOUT",
              "value": 2,
              "type": "number"
            },
            {
              "id": "2925f61f-175c-4f67-b38f-581d23cd5684",
              "name": "FROM-ME-WINDOW",
              "value": 15,
              "type": "number"
            },
            {
              "id": "4c777567-176a-4a87-98cf-5e883a37270d",
              "name": "TIME-PER-CHAR",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7280,
        416
      ],
      "id": "ae660e3c-36f7-4bc7-8697-0240d8b1ad9c",
      "name": "Chaves de acesso"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Mensage DATA').item.json.redisTimeoutAttendentId }}",
        "value": "={{ $now.plus($('Chaves de acesso').item.json[\"FROM-ME-WINDOW\"]*60*1000).toISO() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7056,
        400
      ],
      "id": "c6d7b904-2f27-449e-8d9f-2210f4a0607c",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "JWA8UDPmT5Aj9qkF",
          "name": "Redis account - wego"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/1007910339064845/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXIv1bYCD8BQhZB0NC4riC0d9jTmxEwEODiiZAIERYK0iFK3NyaZA1UJQTuZAjWMLKBqVXMeUL4Am1ypAsN5jZC5fa20zFou5wyZB0yFZBaMGe6foow28ZClqmzVdrZAusBEBJenZB51HUXZC6CfJDAw9irtrkYn2WqkNftZAV2GywZBup1q6BycxbDCSIjY338uaAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $('Mensage DATA').item.json.phone,\n  type: \"interactive\",\n  interactive: {\n    type: \"list\",\n    body: {\n      text: \"Opa! \ud83d\udc4b Eu sou a Kha do Kharina \ud83d\ude04\\nEscolha uma op\u00e7\u00e3o:\"\n    },\n    action: {\n      button: \"Ver op\u00e7\u00f5es\",\n      sections: [\n        {\n          title: \"O que voc\u00ea quer fazer?\",\n          rows: [\n            { id: \"menu_cardapio\", title: \"1\ufe0f\u20e3 Ver Card\u00e1pio\" },\n            { id: \"menu_reserva\", title: \"2\ufe0f\u20e3 Reservar Mesa\" },\n            { id: \"menu_kids\", title: \"3\ufe0f\u20e3 Espa\u00e7o Kids\" },\n            { id: \"menu_adm\", title: \"4\ufe0f\u20e3 Administra\u00e7\u00e3o\" },\n            { id: \"menu_delivery\", title: \"5\ufe0f\u20e3 Delivery \ud83c\udf5f\ud83d\ude80\" }\n          ]\n        }\n      ]\n    }\n  }\n}) }}\n",
        "options": {}
      },
      "id": "e147f21c-89a5-4d08-b7da-dffdcec7c895",
      "name": "SEND TEXT1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        272
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Mensage DATA').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Mensage DATA').item.json.account_id }}/conversations/{{ $('Mensage DATA').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Mensage DATA').item.json.chatwoot_api_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.messages.replaceAll(\"**\",\"*\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b7172e7-7a0a-45b5-925d-e64a5d9a6a1b",
      "name": "SEND TEXT-CHATWOOT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        288
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/1007910339064845/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXIv1bYCD8BQhZB0NC4riC0d9jTmxEwEODiiZAIERYK0iFK3NyaZA1UJQTuZAjWMLKBqVXMeUL4Am1ypAsN5jZC5fa20zFou5wyZB0yFZBaMGe6foow28ZClqmzVdrZAusBEBJenZB51HUXZC6CfJDAw9irtrkYn2WqkNftZAV2GywZBup1q6BycxbDCSIjY338uaAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $('Mensage DATA').item.json.phone,\n  type: \"interactive\",\n  interactive: {\n    type: \"list\",\n    body: {\n      text: \"Opa! \ud83d\udc4b Eu sou a Kha do Kharina \ud83d\ude04\\nEscolha uma op\u00e7\u00e3o:\\n\"\n    },\n    action: {\n      button: \"Ver op\u00e7\u00f5es\",\n      sections: [\n        {\n          title: \"O que voc\u00ea quer fazer?\",\n          rows: [\n            { id: \"menu_cardapio\", title: \"1\ufe0f\u20e3 Ver Card\u00e1pio\" },\n            { id: \"menu_reserva\", title: \"2\ufe0f\u20e3 Reservar Mesa\" },\n            { id: \"menu_kids\", title: \"3\ufe0f\u20e3 Espa\u00e7o Kids\" },\n            { id: \"menu_adm\", title: \"4\ufe0f\u20e3 Administra\u00e7\u00e3o\" },\n            { id: \"menu_delivery\", title: \"5\ufe0f\u20e3 Delivery \ud83c\udf5f\ud83d\ude80\" }\n          ]\n        }\n      ]\n    }\n  }\n}) }}\n",
        "options": {}
      },
      "id": "f3b8b829-8d72-48d6-b5c1-3c2fa43cdd08",
      "name": "SEND MENU",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2560,
        -432
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
              "rightValue": "menu_button",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $('Mensage DATA').item.json.content_type }}",
              "rightValue": "menu_list",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6864,
        400
      ],
      "id": "12fe806b-bf11-4c1d-af3a-4cc32562a4a3",
      "name": "no_file1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/1007910339064845/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXIv1bYCD8BQhZB0NC4riC0d9jTmxEwEODiiZAIERYK0iFK3NyaZA1UJQTuZAjWMLKBqVXMeUL4Am1ypAsN5jZC5fa20zFou5wyZB0yFZBaMGe6foow28ZClqmzVdrZAusBEBJenZB51HUXZC6CfJDAw9irtrkYn2WqkNftZAV2GywZBup1q6BycxbDCSIjY338uaAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $('Mensage DATA').item.json.phone,\n  type: \"interactive\",\n  interactive: {\n    type: \"list\",\n    body: {\n      text: \"Escolhe a cidade pra eu te mostrar o card\u00e1pio certinho:\"\n    },\n    action: {\n      button: \"Ver cidades\",\n      sections: [\n        {\n          title: \"Cidades\",\n          rows: [\n            { id: \"cardapio_curitiba\",  title: \"1\ufe0f\u20e3 Curitiba / PR\" },\n            { id: \"cardapio_londrina\",  title: \"2\ufe0f\u20e3 Londrina / PR\" },\n            { id: \"cardapio_saopaulo\", title: \"3\ufe0f\u20e3 S\u00e3o Paulo / SP\" }\n          ]\n        }\n      ]\n    }\n  }\n}) }}\n",
        "options": {}
      },
      "id": "6c178774-b41a-4a2c-af8f-fdcb4f187533",
      "name": "SEND MENU CIDADES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2560,
        -272
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75b1067f-a103-4c84-9ef9-5eb2a4a124ad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu Principal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "977fca22-38bf-42d7-8910-f179c3398391",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "MENU_CIDADES_CARDAPIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu Cidades"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28b2b0fd-6fd2-4af2-b633-dabb9027f004",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "MENU_ADMIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu Admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "834c7316-cbd6-4a81-9876-d29046bf53bd",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2896,
        -64
      ],
      "id": "4afea0e1-95fb-4902-bc12-22a5af09c061",
      "name": "OPCOES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/1007910339064845/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAXIv1bYCD8BQhZB0NC4riC0d9jTmxEwEODiiZAIERYK0iFK3NyaZA1UJQTuZAjWMLKBqVXMeUL4Am1ypAsN5jZC5fa20zFou5wyZB0yFZBaMGe6foow28ZClqmzVdrZAusBEBJenZB51HUXZC6CfJDAw9irtrkYn2WqkNftZAV2GywZBup1q6BycxbDCSIjY338uaAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ JSON.stringify({\n  messaging_product: \"whatsapp\",\n  to: $('Mensage DATA').item.json.phone,\n  type: \"interactive\",\n  interactive: {\n    type: \"list\",\n    body: {\n      text: \"Escolhe a cidade pra eu te mostrar o card\u00e1pio certinho:\"\n    },\n    action: {\n      button: \"Ver cidades\",\n      sections: [\n        {\n          title: \"Cidades\",\n          rows: [\n            { id: \"cardapio_curitiba\",  title: \"1\ufe0f\u20e3 Curitiba / PR\" },\n            { id: \"cardapio_londrina\",  title: \"2\ufe0f\u20e3 Londrina / PR\" },\n            { id: \"cardapio_saopaulo\", title: \"3\ufe0f\u20e3 S\u00e3o Paulo / SP\" }\n          ]\n        }\n      ]\n    }\n  }\n}) }}\n",
        "options": {}
      },
      "id": "0b6fa931-db1b-413a-9eee-e8852ccfe231",
      "name": "SEND MENU ADMIN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2560,
        -112
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "SET DEFAULT MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET REPLIED MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET EDITED MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET AUDIO MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET IMAGE MESSAGE": {
      "main": [
        [
          {
            "node": "STORE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORE MESSAGE": {
      "main": [
        [
          {
            "node": "Redis bloqueio por tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETRIEVE LAST MESSAGES": {
      "main": [
        [
          {
            "node": "UserMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Tipo da Mensagem": {
      "main": [
        [
          {
            "node": "SET DEFAULT MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET REPLIED MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET EDITED MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "SET IMAGE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "SET AUDIO MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TIMEOUT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND IMAGE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND VIDEO": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SEND IMAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND VIDEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND TEXT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Kah",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "TIMEOUT1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da Mensagem1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "block timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "block timeout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis bloqueio por tempo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "RETRIEVE LAST MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block timeout": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE HISTORY": {
      "main": [
        [
          {
            "node": "block timeout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block timeout1": {
      "main": [
        [
          {
            "node": "Kah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserMessage": {
      "main": [
        [
          {
            "node": "DELETE HISTORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Mensage DATA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Kah": {
      "main": [
        [
          {
            "node": "OPCOES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reservas": {
      "ai_tool": [
        [
          {
            "node": "Kah",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviacardapio": {
      "ai_tool": [
        [
          {
            "node": "Kah",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cardapio2": {
      "ai_tool": [
        [
          {
            "node": "Kah",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "admincontact": {
      "ai_tool": [
        [
          {
            "node": "Kah",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "current_Date": {
      "ai_tool": [
        [
          {
            "node": "Kah",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Kah",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WhatsApp1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensage DATA": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Chaves de acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaves de acesso": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "no_file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND TEXT-CHATWOOT": {
      "main": [
        []
      ]
    },
    "SEND TEXT1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no_file1": {
      "main": [
        [
          {
            "node": "Tipo da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPCOES": {
      "main": [
        [
          {
            "node": "SEND MENU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND MENU CIDADES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND MENU ADMIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7e7a1eb2-ea62-4259-8d2e-328dac3940f6",
  "activeVersionId": null,
  "versionCounter": 64,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-09-30T19:19:35.096Z",
      "createdAt": "2025-09-30T19:19:35.096Z",
      "id": "mAre2fBNF189yiYR",
      "name": "LOGIC"
    },
    {
      "updatedAt": "2025-09-30T19:19:35.094Z",
      "createdAt": "2025-09-30T19:19:35.094Z",
      "id": "nabtWfRtovoGaAPR",
      "name": "chatwoot"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-02-09T19:59:35.520Z",
      "createdAt": "2026-02-09T19:59:35.520Z",
      "role": "workflow:owner",
      "workflowId": "eUsjJdP8Y36exxS0",
      "projectId": "OFYohD49gphPTkYf",
      "project": {
        "updatedAt": "2025-09-27T15:59:39.013Z",
        "createdAt": "2025-09-27T15:28:39.377Z",
        "id": "OFYohD49gphPTkYf",
        "name": "Kharina  Restaurante <admin@kharina.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a0aa474d-b7ee-446a-9a40-8e6d6ae99909"
      }
    }
  ]
}
